{% load static %}

<ul class="main-nav">
		<li class="main-nav-item">
				<a href="{% url 'doctor_profile_home' %}"
					 class="nav-link {% if location == 'doctor_profile_home'%}active{% endif %}" title="Home">
						<i class="fas fa-home"></i>
				</a>
		</li>

		<li class="main-nav-item">
        <a href="{% url 'doctor_profile_calendar' %}"
           class="nav-link {% if location == 'doctor_profile_manage_schedule' %}active{% endif %}" title="Schedule">
            <i class="fas fa-calendar"></i>
        </a>
    </li>
    <li class="main-nav-item">
        <a href="{% url 'doctor_profile_analytics_checkups_aggregate' %}"
           class="nav-link {% if location == 'doctor_profile_analytics' %}active{% endif %}" title="Analytics">
            <i class="far fa-chart-bar"></i>
        </a>
    </li>
    <li class="main-nav-item">
        <a href="{% url 'doctor_profile_settings_home' %}"
           class="nav-link {% if location == 'doctor_profile_settings' %}active{% endif %}" title="Settings">
            <i class="fas fa-cogs"></i>
        </a>
    </li>
</ul>
