{% load static %}
{% load crispy_forms_tags %}
<div class="career__medical-degree">

    <div class="form-group row">
        <label for="entity_options" class="col-4 col-form-label"><span class="baseEntityDisplayName"></span></label>
        <div class="col-8">
            <select id="entity_options" name="entity_options" class="custom-select form-control"
                    required="required"></select>
            <a href="javascript:void(0)" class="btn-sm btn-outline-primary" data-toggle="modal"
               data-target="#modalEntityCreate">Add a new <span class="baseEntityDisplayName"></span></a>

        </div>
    </div>
    <div class="form-group row">
        <label for="doctor_specialization_place_of_residency" class="col-4 col-form-label">Place of Residency</label>
        <div class="col-8">
            <input id="doctor_specialization_place_of_residency" name="specialization_place_of_residency" type="text"
                   class="form-control here">
        </div>
    </div>
    <div class="form-group row">
        <label for="doctor_specialization_year_attained" class="col-4 col-form-label">Year Attained</label>
        <div class="col-8">
            <input id="doctor_specialization_year_attained" name="specialization_year_attained" type="number"
                   class="form-control here">
            <br>
            <small class="help-text">Leave blank if unfinished</small>
        </div>
    </div>
    <div class="btn-group  mt-4">
        <a id="btnRelatedEntityAdd" href="javascript:void(0)" class="btn btn-primary">Save</a>
        <a id="btnRelatedEntityReset" href="#!" class="btn btn-secondary">Reset</a>
    </div>

    <h6 class="h6 mt-3"><span class="relatedEntityDisplayNamePlural"></span></h6>

    <ul class="list-group list-group-flush" id="related_entity_list">

    </ul>

</div>

<div class="modal fade" id="confirmRelatedEntityDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Confirm delete
            </div>
            <div class="modal-body">
                You are about to remove this <span class="baseEntityDisplayName"></span> from your profile. This action
                is destructive and non-recoverable. Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No, I changed my mind</button>
                <a class="btn btn-danger btn-ok text-white" id="btnConfirmRelatedEntityDelete">Yes, remove it</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editRelatedEntity" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6>Edit <span id="relatedEntityTitleEdit"></span></h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="edit_doctor_specialization_place_of_residency" class="col-4 col-form-label">Place of
                        Residency</label>
                    <div class="col-8">
                        <input id="edit_doctor_specialization_place_of_residency"
                               name="specialization_place_of_residency" type="text" class="form-control here">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="edit_doctor_specialization_year_attained" class="col-4 col-form-label">Year
                        Attained</label>
                    <div class="col-8">
                        <input id="edit_doctor_specialization_year_attained" name="specialization_year_attained"
                               type="number" class="form-control here">
                    </div>
                </div>

                <input type="hidden" name="related_entity_id" id="edit_related_entity_id" value="">
            </div>
            <div class="modal-footer">
                <a class="btn btn-warning btn-ok text-white" id="btnConfirmRelatedEntityEdit">Update</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEntityCreate" role="dialog"
     aria-labelledby="addEntityLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form class="modal-content">
            <div class="modal-header">
                <h6>Add <span class="baseEntityDisplayName"></span></h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" id="baseEntityCreateForm">
                {% csrf_token %}
                <div class="modal-body">
                    <div id="div_specialization_name" class="form-group">
                        <label for="specialization_name" class="col-form-label  requiredField">
                            Name<span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <input type="text" name="specialization_name" maxlength="255"
                                   class="textinput textInput form-control" required="" id="specialization_name">
                        </div>
                    </div>
                    <div id="div_specialization_abbreviation" class="form-group">
                        <label for="specialization_abbreviation" class="col-form-label  requiredField">
                            Abbreviation<span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <input type="text" name="specialization_abbreviation" maxlength="30"
                                   class="textinput textInput form-control" required
                                   id="specialization_abbreviation">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="specialization_practitioner_title" class="col-form-label requiredField">
                            Practitioner Title<span class="asteriskField">*</span> <small class="help-text">(ex: Anesthesiologist)</small>
                        </label>
                        <div>
                            <small class="help-text">What should a Doctor with this specialization be called?</small>
                            <input type="text" name="specialization_practitioner_title" maxlength="60"
                                   class="textinput textInput form-control" required
                                   id="specialization_practitioner_title">

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="specialization_practitioner_title_plural" class="col-form-label requiredField">
                            Practitioner Title (plural form)<span class="asteriskField">*</span> <small class="help-text">(ex: Anesthesiologists)</small>
                        </label>
                        <div>
                            <input type="text" name="specialization_practitioner_title_plural" maxlength="60"
                                   class="textinput textInput form-control" required
                                   id="specialization_practitioner_title_plural">
                            <br>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnEntityAdd" class="btn btn-primary btn-block">
                        Add
                    </button>
                </div>
            </form>
    </div>
</div>
</div>
