<div class="chart-big">
    <canvas id="chartDiagnoses" style="min-height: 40vh; max-height: 70vh"></canvas>
</div>
<hr class="my-2">
<div class="card-group">
    <div class="card">
        <div class="card-body stat-card">
            <div class="stat-label">
                Breakdowns
            </div>
            <div class="stat-value row text-center" id="diagnoses-breakdown-container">
                <div class="donut-spinner"></div>
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-body stat-card">
            <div class="stat-label">
                Total
            </div>
            <div class="stat-value text-center" id="diagnoses-total-container">
                <div class="donut-spinner"></div>
            </div>

        </div>
    </div>
</div>