{% extends 'neo/profile/home/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header_css %}
{% endblock %}
{% block header_js %}
{% endblock %}

{% block subcontent %}
{% include 'neo/profile/home/sections/home__personal.html' %}

{% endblock %}

{% block scripts %}

<script type="text/javascript">
    var photoEndpoint = "{% url 'api_private_profile_photos_all' %}";
    var list = document.getElementById("profileList");
    var currentProfile = document.querySelector(
        ".user-profile__profile-photo"
    ).children[1];

    var images = [];

    $(function () {
        $("#upload_link").on("click", function (e) {
            e.preventDefault();
            $("#upload:hidden").trigger("click");
        });
    });

    images.map(function (image) {
        var html = '<div class="col-lg-3"><a onclick="setAsProfile(this)" href="javascript:void(0)"><img class="img-fluid img-thumbnail" src="' + image + '" alt="" /></a> </div>';
        list.insertAdjacentHTML("beforeend", html);
    });

    function previewFile() {
        var preview = document.getElementById("image-preview");
        var file = document.querySelector("input[type=file]").files[0];
        var button = document.getElementById("upload-div");
        var reader = new FileReader();

        reader.onloadend = function () {
            images.push(reader.result);

            preview.src = reader.result;
        };

        $("#upload-btn").remove();

        if (file) {
            var htmlButton = '<a id="upload-btn" href="javascript:void(0)" onclick="uploadPhoto(this)" class="btn btn-primary">Upload</a>';
            button.insertAdjacentHTML("beforeend", htmlButton);
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
        }
    }

    function uploadPhoto(x) {
        var input = document.getElementById("upload");
        var url = images.slice(-1)[0];
        var preview = document.getElementById("image-preview");
        if (input.value === "") {
            return;
        } else {

            var albumURL = "{% url 'api_private_album_post_upload_photo' %}?album={{ profile.get_profile_album.pk }}";
            var postData = {
                photo: url,
                caption: "{{ profile }} Profile Photo",
                csrfmiddlewaretoken: '{{ csrf_token }}'
            };
            var post_= $.post(albumURL, postData, function(sData){
                setAsProfile(this, sData.data.photo);
            });

            var html =
                '<div class="col-lg-3"><a onclick="setAsProfile(this)" href="javascript:void(0)"><img class="img-fluid img-thumbnail" src="' + url + '" alt=""/></a></div>';
            list.insertAdjacentHTML("beforeend", html);
        }
        preview.src = "";
        input.value = "";
        $(x).remove();
    }

    function handleClick(x) {
        currentProfile.src = x;
    }

    function setAsProfile(x, imgUrl) {
        var newProfile = imgUrl;

        handleClick(newProfile);
    }

    previewFile();

    $.get(photoEndpoint, function (data, status) {
        if (status !== "success") {
            console.log("Looks like there was a problem. Status Code: " + status);
            return;
        }
        data.map(function (thumbnail) {
            var html = '<div class="col-lg-3"><a onclick="setAsProfile(this)" href="javascript:void(0)"><img class="img-fluid img-thumbnail" src="' + thumbnail.photo + '" alt=""/></a></div>';
            list.insertAdjacentHTML("beforeend", html);
        });
    });
</script>

{% endblock %}