<div class="card">
    <div class="card-header">
        <h4 class="h6">Symptoms</h4>
    </div>
    <div class="card-body">
        <div class="info" id="symptoms-container">

        </div>
    </div>
    <div class="card-body">

        <div class="form-group">
            <label for="txtSymptomSearch">Search for symptoms</label>
            <input type="text" class="form-control" id="txtSymptomSearch" name="txtSymptomSearch"
                   placeholder="Search...">
        </div>
        <p>Can't find the symptoms you want? <a href="#!" id="btnAddSymptomsModal" data-toggle="modal"
                                                data-target="#modalSaveSymptom">Add a new symptom</a>.</p>
        <ul class="list-group" id="symptoms-list-container"></ul>
    </div>
</div>