<script type="text/html" id="symptoms-list-template">
<li class="list-group-item">
    <a href="#!" data-template-bind='[{"attribute": "data-symptom-id", "value": "id"}]' class="float-right btn btn-sm btn-primary add-symptom">
        <i class="fa fa-plus"></i>
    </a>
    <span data-content="name"></span>
</li>
</script>

<script type="text/html" id="symptoms-template">
    <span class="badge badge-pill badge-secondary mr-1 mb-1">
        <a href="#!" data-content="symptom.name" class="text-white py-0 px-2 modalSymptomDetail_open symptom-detail" data-template-bind='[{"attribute": "data-symptom-id", "value": "symptom.id"}, {"attribute": "data-symptom-name", "value": "symptom.name"}, {"attribute": "data-symptom-description", "value": "symptom.description"}]'></a>
        <a href="#!" class="btn btn-danger btn-sm btn-round remove-symptom ml-3" data-template-bind='[{"attribute": "data-symptom-id", "value": "symptom.id"}]'>
            <i class="fa fa-times"></i>
        </a>
    </span>
</script>

<script type="text/html" id="dismissed-symptoms-template">
    <li class="list-group-item">
        <span data-content="symptom.name"></span> <em>dismissed by <span data-content="removed_by.doctor_name"></span></em>
    </li>
</script>