{% extends 'neo/receptionist_profiles/schedule/base_fullwidth.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header_css %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static '3rd-party/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}">


{% endblock %}
{% block header_js %}
{% endblock %}

{% block subcontent %}
    <div class="career__header mt-2">
        <h4 class="h6">{{ page_title }}</h4>
    </div>
    <div class="subcontent__wrapper" id="schedule-section">
        {% include 'neo/receptionist_profiles/schedule/sections/template/queue.main.html' %}
        {% include 'neo/receptionist_profiles/schedule/sections/template/queue.modals.html' %}
        {% include 'neo/receptionist_profiles/schedule/sections/template/queue.templates.html' %}

        {% include 'neo/receptionist_profiles/schedule/sections/template/search.main.html' %}
        {% include 'neo/receptionist_profiles/schedule/sections/template/search.modals.html' %}
        {% include 'neo/receptionist_profiles/schedule/sections/template/search.templates.html' %}
    </div>

{% endblock %}

{% block home_scripts %}
    {% block inner_scripts %}
        <script type="text/javascript" src="{% static '3rd-party/moment.js' %}"></script>
        <script type="text/javascript" src="{% static '3rd-party/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>
        <script type="text/javascript" src="{% static '3rd-party/jquery-template/jquery.loadTemplate.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'neo/js/stateManager.js' %}"></script>
        <script type="text/javascript">
            var model = {};
        </script>

        {% include 'neo/receptionist_profiles/schedule/sections/js/queue.js.html' %}
        {% include 'neo/receptionist_profiles/schedule/sections/js/search.js.html' %}

        <script type="text/javascript">
            $(document).ready(function(){
                bootUp(model);
            });
        </script>
    {% endblock %}
{% endblock %}