<div id="modalPreviewDrug" class="popup-modal card">
    <div class="card-header">
        <h4 class="h4">
            <span id="id_drug_preview_name"></span>
        </h4>
    </div>
    <div class="card-body" id="drug-preview-container">

    </div>
    <div class="btn-group card-body">
        <a id="id_drug_preview_id" href="#!"
           class="btn btn-primary btnAddDrugToPrescriptionModal modalPreviewDrug_close modalAddPrescription_open">Add
            to prescription</a>
    </div>
</div>


<div id="modalAddPrescription" class="popup-modal card">
    <div class="card-header">
        <h4 class="h4">Prescribe <span id="id_prescription_drug_name"></span></h4>
    </div>
    <div class="card-body">

        <form id="formAddPrescription">
            <input type="hidden" id="id_prescription_drug_id">
            <div class="form-group row">
                <label for="id_prescription_dosage" class="col-3 col-form-label">Dosage/Strength</label>
                <div class="col-9">
                    <div class="row justify-content-start no-gutters">
                        <div class="col col-sm-8">
                            <input id="id_prescription_dosage" name="id_prescription_dosage" placeholder="ex: 500"
                                   type="text" class="form-control here">
                        </div>
                        <div class="col col-sm-4">
                            <select id="id_prescription_dosage_unit" name="id_prescription_dosage_unit"
                                    class="form-control">
                                <option value="N/A">N/A</option>
                                <option value="mg">mg</option>
                                <option value="mL">mL</option>
                                <option value="mg/kg">mg/kg</option>
                                <option value="mL/L">mL/L</option>
                                <option value="mol/L">mol/L</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="id_prescription_amount" class="col-3 col-form-label">Amount</label>
                <div class="col-9">
                    <div class="row justify-content-start no-gutters">
                        <div class="col col-sm-8">
                            <input id="id_prescription_amount" name="id_prescription_amount" placeholder="ex: 1"
                                   type="text" class="form-control here">
                        </div>
                        <div class="col col-sm-4">
                            <select id="id_prescription_amount_unit" name="id_prescription_amount_unit"
                                    class="form-control">
                                <option value="N/A">N/A</option>
                                <option value="tablet(s)">tablet(s)</option>
                                <option value="capsule(s)">capsules</option>
                                <option value="teaspoonful(s)">teaspoonfuls</option>
                                <option value="spoonful(s)">spoonfuls</option>
                                <option value="unit(s)">unit(s)</option>
                                <option value="dose">dose</option>
                                <option value="drop(s)">drop(s)</option>
                                <option value="grain(s)">grain(s)</option>
                                <option value="dram(s)">dram(s)</option>
                                <option value="ounce(s)">ounce(s)</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="id_prescription_route" class="col-3 col-form-label">Route</label>
                <div class="col-9">
                    <select name="id_prescription_route" id="id_prescription_route" class="form-control">

                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="id_prescription_frequency" class="col-3 col-form-label">Frequency</label>
                <div class="col-9">
                    <select id="id_prescription_frequency" name="id_prescription_frequency_unit" class="form-control">
                        <option value="N/A">N/A</option>
                        <option value="Once Daily">Once Daily</option>
                        <option value="Once Hourly">Once Hourly</option>
                        <option value="Before Eating">Before Eating</option>
                        <option value="After Eating">After Eating</option>
                        <option value="Once every 12 hours (2x a day)">Once every 12 hours (2x a day)</option>
                        <option value="Once every 8 hours (3x a day)">Once every 8 hours (3x a day)</option>
                        <option value="Once every 6 hours (4x a day)">Once every 6 hours (4x a day)</option>
                        <option value="Once every 4 hours (6x a day)">Once every 4 hours (6x a day)</option>
                        <option value="Once every 3 hours (8x a day)">Once every 3 hours (8x a day)</option>
                        <option value="Once every 2 hours (12x a day)">Once every 2 hours (12x a day)</option>
                        <option value="As needed/desired">As needed/desired</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="id_prescription_dispense_qty" class="col-3 col-form-label">Dispense Qty</label>
                <div class="col-9">
                    <input id="id_prescription_dispense_qty" name="id_prescription_dispense_qty" placeholder="ex: 30"
                           type="text"
                           class="form-control here" required="required">
                </div>
            </div>
            <div class="form-group row">
                <label for="id_prescription_notes" class="col-3 col-form-label">Notes</label>
                <div class="col-9">
                    <textarea id="id_prescription_notes" name="id_prescription_notes" cols="40" rows="5"
                              class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-3 col-9">
                    <button name="submit" type="submit" class="btn btn-primary" id="btnAddPrescription">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="modalPrescriptionDetail" class="popup-modal card">
    <div id="prescription-detail-container"><div class="donut-spinner"></div></div>
    <div class="card-body">
        <a class="btn btn-outline-secondary modalPrescriptionDetail_close">Close</a>
    </div>
</div>

<div id="modalAddDrug" class="popup-modal card">
    <div class="card-header">
        <h4 class="h4">Add a drug</h4>
    </div>
    <div class="card-body">
        <form id="formAddDrug">
            <div class="form-group row">
                <label for="id_drug_name" class="col-3 col-form-label">Name</label>
                <div class="col-9">
                    <input id="id_drug_name" name="id_drug_name" placeholder="ex: Junior Strength Advil" type="text"
                           class="form-control here" required="required">
                </div>
            </div>
            <div class="form-group row">
                <label for="id_drug_base_name" class="col-3 col-form-label">Base Name</label>
                <div class="col-9">
                    <input id="id_drug_base_name" name="id_drug_base_name" placeholder="ex: Advil" type="text"
                           class="form-control here">
                </div>
            </div>
            <div class="form-group row">
                <label for="id_drug_generic_name" class="col-3 col-form-label">Generic Name</label>
                <div class="col-9">
                    <input type="text" id="id_drug_generic_name" name="id_drug_generic_name" class="form-control">
                    <input type="hidden" id="id_drug_generic_name_id">
                    <ul class="list-group list-group-flush p-1 m-1" id="generics-list-container"></ul>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3">Is this a generic drug?</label>
                <div class="col-9">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input name="id_drug_is_generic" type="checkbox" class="form-check-input" value="yes">
                            Yes
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3">Type</label>
                <div class="col-9">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input name="id_drug_product_type" type="radio" required="required" class="form-check-input"
                                   value="HUMAN OTC DRUG">
                            Over the counter
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input name="id_drug_product_type" type="radio" required="required" class="form-check-input"
                                   value="HUMAN PRESCRIPTION DRUG">
                            Prescription
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-3 col-9">
                    <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="modalDismissedPrescriptions" class="popup-modal card">
    <div class="card-body">
        <h5 class="h5">Dismissed prescriptions</h5>
        <ul id="dismissed-prescriptions-container" class="list-group list-group-flush"></ul>
    </div>
</div>