{% load static %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div id="map" class="m-0"></div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="p-2">
            <div id="top-address-container"></div>

        </div>
    </div>
</div>

<!-- modals -->

<!-- addresses -->
<div class="modal fade" id="all-addresses-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alternate Addresses</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you think the address listed is wrong? Help in making us better by submitting more accurate information:</p>
                <div id="addresses-container"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#submit-address-modal">Submit a suggestion</button>
            </div>
        </div>
    </div>
</div>
<!-- /addresses -->

<!-- submit address -->
<div class="modal fade" id="submit-address-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Submit an Alternate Address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="submit-address-form" method="post" action="#">
                    {{ submit_location_form|crispy }}
                    <button type="submit" class="btn btn-primary" id="address-submit-suggestion">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /submit address -->

<!-- /modals -->

<!-- templates -->

<!-- top-address -->
<script type="text/html" id="top-address-template">
    <div class="card-body">

        <p>
            <span data-content="address.address"></span>
            <br>
            <span data-content="address.city.name"></span> <span data-content="address.zip_code"></span> <span
                data-content="address.province.name"></span>
            <br>
            <span data-content="address.region.name"></span>
        </p>
    </div>
    <div class="card-footer">
        <span class="float-right badge badge-secondary" data-content="votes"></span>
        <div class="btn-group-sm btn-group">
            <a data-toggle="tooltip" data-placement="top" title="Upvote this address"
               class="card-link top-location-vote-up btn btn-outline-primary" href="#!"
               data-template-bind='[{"attribute": "data-pk", "value": "address.id"}]'>
                <i class="fa fa-thumbs-up"></i>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Downvote this address"
               class="card-link top-location-vote-down btn btn-outline-danger" href="#!"
               data-template-bind='[{"attribute": "data-pk", "value": "address.id"}]'>
                <i class="fa fa-thumbs-down"></i>
            </a>
            <a data-toggle="modal" data-target="#all-addresses-modal" class="btn btn-outline-info" href="#!">
                <small>Is this incorrect? Submit an update</small>
            </a>
        </div>


    </div>
</script>
<!-- /top-address -->

<!-- all-addresses -->
<script type="text/html" id="addresses-template">
    <div class="card-body">

        <p>
            <span data-content="address.address"></span>
            <br>
            <span data-content="address.city.name"></span> <span data-content="address.zip_code"></span> <span
                data-content="address.province.name"></span>
            <br>
            <span data-content="address.region.name"></span>
        </p>
    </div>
    <div class="card-footer">
        <span class="float-right badge badge-secondary" data-content="votes"></span>
        <div class="btn-group-sm btn-group">
            <a data-toggle="tooltip" data-placement="top" title="Upvote this address"
               class="card-link location-vote-up btn btn-outline-primary" href="#!"
               data-template-bind='[{"attribute": "data-pk", "value": "address.id"}]'>
                <i class="fa fa-thumbs-up"></i>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Downvote this address"
               class="card-link location-vote-down btn btn-outline-danger" href="#!"
               data-template-bind='[{"attribute": "data-pk", "value": "address.id"}]'>
                <i class="fa fa-thumbs-down"></i>
            </a>
        </div>
    </div>
</script>
<!-- /all-addresses -->


<script type="text/html" id="provinces-template">
    <option data-value="id" data-content="name"></option>
</script>
<script type="text/html" id="cities-template">
    <option data-value="id" data-content="name"></option>
</script>
<!-- /templates -->