{$ extends 'neo/accounts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header_css %}
{% endblock %}
{% block header_js %}
{% endblock %}

{% block content %}
<div class="solo-card">
    <form class="form-signup">
        <div class="text-center mb-4">
            <h3 class="h3">Sign up</h3>
        </div>

        <div class="form-label-group">
            <img src="{% static 'neo/images/close-envelope-green.png' %}" alt="" class="img-envelop">
            <input type="email" id="email" class="form-control" placeholder="Email address" name="email" required>
        </div>

        <div class="form-label-group">
            <img src="{% static 'neo/images/002-padlock-green.png' %}" alt="" class="img-padlock">
            <input type="password" id="password" class="form-control" placeholder="Password" name="password" required>
        </div>

        <div class="form-label-group">
            <img src="{% static 'neo/images/002-padlock-green.png' %}" alt="" class="img-padlock-1">
            <input type="password" id="confirm_password" class="form-control" placeholder="Confirm Password" name="confirm_password"
                required>
        </div>

        <div class="checkbox mb-1">
            <label>
                <input type="checkbox" value="remember-me"> <span class="small">Yes, I understand and agree to the
                    LineCare Terms of Services including the <a href="#">User Agreement</a> and <a href="#">Privacy
                        Policy</a>.</span>
            </label>
        </div>

        <button class="btn btn-primary btn-block" type="submit">Sign up</button>
        <button class="btn btn-light btn-block" type="submit"><i class="fab fa-facebook-f"></i>Sign up with
            Facebook</button>
        <button class="btn btn-light btn-block" type="submit"><i class="fab fa-google"></i>Sign up with Google</button>
    </form>
</div>

<div class="call-to-action__container">
    <p class="text-center">Already have an account?</p>
    <a class="btn btn-light btn-block" href="{% url 'accounts_login' %">Sign in</a>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}