{% load static %}
<ul class="sidebar-nav">
    <li class="sidebar-nav-item">
        <a href="{% url 'receptionist_profile_home' %}">&laquo; Back to Settings</a>
    </li>
    <li class="sidebar-nav-separator"></li>
    <li class="sidebar-nav-item">
        <a {% if sublocation == 'home' %}class="active"{% endif %} href="{% url 'receptionist_profile_settings_medical_institution' %}">My Affiliated Medical Institutions</a>
    </li>
    <li class="sidebar-nav-item">
        <a {% if sublocation == 'connection' %}class="active"{% endif %} href="">Connection Details {{ rel.medical_institution }}</a>
    </li>
</ul>
