<div class="chart-big">
    <canvas id="chartVisit" style="min-height: 40vh; max-height: 70vh"></canvas>
</div>
<hr class="my-2">
<div class="card-group">
    <div class="card">
        <div class="card-body stat-card">
            <div class="stat-label">
                Appointments
            </div>
            <div class="stat-value text-center row" id="checkup-counts-container">
                <div class="donut-spinner"></div>
            </div>

            <hr>

            <div class="stat-label">
                Total
            </div>
            <div class="stat-value text-center" id="checkup-counts-total-container">
                <div class="donut-spinner"></div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body stat-card">
            <div class="stat-label">
                Earnings
            </div>
            <div class="stat-value text-center row" id="checkup-earnings-container">
                <div class="donut-spinner"></div>
            </div>

            <hr>

            <div class="stat-label">
                Total
            </div>
            <div class="stat-value text-center" id="checkup-earnings-total-container">
                <div class="donut-spinner"></div>
            </div>
        </div>
    </div>
</div>