<script type="text/html" id="checkup-counts-template">
    <div class="col-sm-6">
        <span data-content="type_display" class="stat-value-label"></span>
    </div>
    <div class="col-sm-6">
        <span data-content="type_count" class="stat-value-item"></span>
    </div>
</script>

<script type="text/html" id="checkup-earnings-template">
    <div class="col-sm-6">
        <span data-content="name" class="stat-value-label"></span>
    </div>
    <div class="col-sm-6">
        <span data-content="subtotal" class="stat-value-item"></span>
    </div>
</script>

<script type="text/html" id="checkup-counts-total-template">
    <span data-content="data.total"></span>
</script>

<script type="text/html" id="checkup-earnings-total-template">
    <span data-content="data.total"></span>
</script>