{% extends 'neo/profile/settings/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header_css %}
{% endblock %}
{% block header_js %}
{% endblock %}

{% block subcontent %}
<form method="post">
    {% csrf_token %}

    <div class="two-column__right--settings">
        <div class="header">
            <h5 class="h5">{{ page_title }}</h5>
        </div>
        <div class="body--with-inputs">

            {% if messages %}
                {% for m in messages %}
                    <div class="alert alert-{{ m.tags }}">{{ m }}</div>
                {% endfor %}
            {% endif %}

            <div class="alert alert-warning">
                Warning: completing this form will log you out.
            </div>

            {{ form|crispy }}
        </div>
    </div>
    <div class="settings__btns mt-4">
        <button class="btn btn-primary" type="submit">Save</button>
    </div>

</form>

{% endblock %}

{% block scripts %}
{% endblock %}