{% extends 'neo/receptionist_profiles/home/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header_css %}


{% endblock %}
{% block header_js %}
{% endblock %}
{% block subcontent %}
    {% include 'neo/receptionist_profiles/home/sections/home__personal.html' %}

    <div class="connections__container">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="two-column__left--nav">
                    {% include 'neo/receptionist_profiles/common/nav__side.html' %}
                </div>
            </div>
            <div class="col-sm-12 col-md-9">
                {% include 'neo/receptionist_profiles/home/sections/home__connections.html' %}
            </div>
        </div>
    </div>

{% endblock %}

{% block home_scripts %}
    {% block inner_scripts %}
    {% endblock %}
{% endblock %}