{% extends 'neo/receptionist_profiles/home/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header_css %}
    <link rel="stylesheet" href="{% static 'react/base_profile/home/css/1.chunk.css' %}">
{% endblock %}
{% block header_js %}
{% endblock %}
{% block subcontent %}
    {% include 'neo/receptionist_profiles/home/sections/home__personal.html' %}

    <div class="connections__container">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="two-column__left--nav">
                    {% include 'neo/receptionist_profiles/common/nav__side.html' %}
                </div>
            </div>
            <div class="col-sm-12 col-md-9">
                {% include 'neo/receptionist_profiles/home/sections/home__connections.html' %}
            </div>
        </div>
    </div>

{% endblock %}

{% block home_scripts %}
    {% block inner_scripts %}
    {% endblock %}
    <script type="text/javascript">
        var appContext = {
            profile_id: '{{request.user.base_profile.id}}',
            user_id: '{{ request.user.id }}',
            profile_photo_album_id: '{{ request.user.base_profile.get_profile_album.id }}',
            cover_photo_album_id: '{{ request.user.base_profile.get_cover_album.id }}',
        };
    </script>
    <script src="{% static 'react/base_profile/home/js/1.chunk.js' %}"></script>
    <script src="{% static 'react/base_profile/home/js/main.chunk.js' %}"></script>
    <script src="{% static 'react/base_profile/home/js/runtime-main.js' %}"></script>
{% endblock %}