<script type="text/javascript">
    var btnAddDiagnosesModal = $("#btnAddDiagnosesModal");
    var modalSaveDiagnosis = $("#modalSaveDiagnosis");
    var modalDiagnosisDetail = $("#modalDiagnosisDetail");
    var modalDismissedDiagnoses = $("#modalDismissedDiagnoses");
    var frmSaveDiagnosis = $("#frmSaveDiagnosis");
    var txtDiagnosesearch = $("#txtDiagnosesearch");

    $(document).ready(function () {
        loadDiagnoses();
        modalDiagnosisDetail.popup({
            autozindex: true,
            scrolllock: true
        });
        modalDismissedDiagnoses.popup({
            autozindex: true,
            scrolllock: true
        });

        btnAddDiagnosesModal.on('click', function (e) {
            e.preventDefault();

            modalSaveDiagnosis.modal('show');
        });

        frmSaveDiagnosis.on('submit', function (e) {
            e.preventDefault();
            saveDiagnosis();
        });

        txtDiagnosesearch.on('keydown', function(e){
            searchDiagnoses();
        });

    });

    function loadDiagnoses(){
        var url = "{% url 'api_private_appointment_diagnosis_list' %}?checkup_id={{ checkup.id }}";
        $.get(url)
            .done(function(result){
                $("#diagnoses-container").loadTemplate($("#diagnoses-template"), result);

                $(".diagnosis-detail").on('click', function(e){
                    e.preventDefault();
                    $("#modalDiagnosisDetailTitle").html($(this).attr("data-diagnosis-name"));
                    $("#modalDiagnosisDetailDescription").html($(this).attr("data-diagnosis-description"));
                });

                $(".remove-diagnosis").on('click', function(e){
                    e.preventDefault();
                    var diagnosis_id = $(this).attr("data-diagnosis-id");
                    removeDiagnosis(diagnosis_id);
                });
            });

        var dismissed_url = "{% url 'api_private_appointment_diagnosis_dismissed_list' %}?checkup_id={{ checkup.id }}";
        $.get(dismissed_url)
            .done(function(result){
                $("#dismissed-diagnoses-container").loadTemplate($("#dismissed-diagnoses-template"), result);
            })
    }

    function searchDiagnoses() {
        var term = txtDiagnosesearch.val();
        var url = "{% url 'api_public_diagnoses_list' %}?s=" + term;
        if (term.length >= 2) {
            $.get(url)
                .done(function(result){

                    $("#diagnoses-list-container").loadTemplate($("#diagnoses-list-template"), result);

                    $(".add-diagnosis").on('click', function(e){
                        e.preventDefault();
                        var diagnosis_id = $(this).attr("data-diagnosis-id");
                        addDiagnosis(diagnosis_id);

                    });
                })
                .fail(function(result){
                    console.log(result);
                });
        }else{
            $("#diagnoses-list-container").html('');
        }
    }

    function addDiagnosis(diagnosis_id){
        var url = "{% url 'api_private_appointment_diagnosis_create' %}";
        var formData = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            checkup: '{{ checkup.id }}',
            diagnosis: diagnosis_id
        };

        $.post(url, formData)
            .done(function(result){
                loadDiagnoses();
                $.notify({
                    message: "Diagnosis added!"
                }, {
                    type: "success"
                })
            })
            .fail(function(result){
                if(result.status === 409){
                    $.notify({
                        message: result.responseText
                    }, {
                        type: "danger"
                    });
                }else{
                    $.notify({
                        message: "That diagnosis has already been added! If you don't see it, check the dismissed list."
                    }, {
                        type: "danger"
                    });
                }
            })
    }

    function removeDiagnosis(diagnosis_id){
        var url = "{% url 'api_private_appointment_diagnosis_delete' %}?id=" + diagnosis_id + "&checkup_id={{ checkup.id }}";
        var formData = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
        };

        $.post(url, formData)
            .done(function (result) {
                loadDiagnoses();
                $.notify({
                    message: "Diagnosis removed!"
                }, {
                    type: 'success'
                });
            });
    }

    function saveDiagnosis() {
        var url = "{% url 'api_private_diagnosis_create' %}";
        var formData = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            name: $("#id_diagnosis_name").val(),
            description: $("#id_diagnosis_description").val()
        };

        $.post(url, formData)
            .done(function (result) {
                addDiagnosis(result.id);
                $.notify({
                    message: "Diagnosis created!"
                }, {
                    type: 'success'
                });
            });
        modalSaveDiagnosis.modal('hide');
    }
</script>