<script type="text/javascript">
    var modalPrescriptionDetail = $("#modalPrescriptionDetail");
    var modalAddMedicine = $("#modalAddMedicine");
    var modalDismissedPrescriptions = $("#modalDismissedPrescriptions");
    var modalAddPrescription = $("#modalAddPrescription");
    var id_generic_name = $("#id_generic_name");
    var txtMedicineSearch = $("#txtMedicineSearch");

    $(document).ready(function () {
        modalPrescriptionDetail.popup({
            autozindex: true,
            scrolllock: true
        });
        modalDismissedPrescriptions.popup({
            autozindex: true,
            scrolllock: true
        });
        modalAddMedicine.popup({
            autozindex: true,
            scrolllock: true
        });

        modalAddPrescription.popup({
            autozindex: true,
            scrolllock: true
        });

        id_generic_name.on('keyup', function(e){
            e.preventDefault();
            var s = $(this).val();
            if(s.length >=3){
                loadGenerics(s);
            }else{
                $("#generics-list-container").html('');
            }
        });

        txtMedicineSearch.on('keyup', function(e){
            e.preventDefault();
            var s = $(this).val();
            if(s.length >=3){
                loadDrugs(s);
            }else{
                $("#drugs-list-container").html('');
            }
        });
    });

    function loadGenerics(s){
        var url = "{% url 'api_public_generics_list' %}?s=" + s;
        $.get(url)
            .done(function(result){
                if(result.length > 0){
                    $("#generics-list-container").loadTemplate($("#generics-list-template"), result);
                }else{
                    $("#generics-list-container").html(
                        "<div class='alert alert-warning'>No results</a>"
                    )
                }

                $(".generic-name-item").on('click', function(e){
                    e.preventDefault();
                    var generic_id = $(this).attr("data-generic-id");
                    var generic_name = $(this).attr("data-generic-name");
                    $("#id_generic_name_id").val(generic_id);
                    $("#id_generic_name").val(generic_name);
                    $("#generics-list-container").html("");
                });
            });
    }

    function loadDrugs(s){
        var url = "{% url 'api_public_drugs_list' %}?s=" + s;
        $.get(url)
            .done(function(result){
                if(result.length > 0) {
                    $("#drugs-list-container").loadTemplate($("#drugs-list-template"), result);
                }else{
                    $("#drugs-list-container").html(
                        "<div class='alert alert-warning'>No results</a>"
                    )
                }

                $(".drug-item").on('click', function(e){
                    e.preventDefault();
                    var drug_id = $(this).attr("data-drug-id");
                    var drug_name = $(this).attr("data-drug-name");
                    $("#modalAddPrescriptionDrugName").html(drug_name);
                    $("#modalAddPrescriptionDrugId").val(drug_id);
                });

            });
    }

</script>