<div class="nav__page-control">
    <div class="form-group control-row m-0">
        <div class="nav__page-control-btns">
            <a href="?date={{ yesterday }}" class="btn">&laquo; Yesterday</a>
            <a href="?date={{ today }}" class="btn active">Today</a>
            <a href="?date={{ tomorrow }}" class="btn">Tomorrow &raquo;</a>
        </div>
        <label for="queue-date">Date:
            <input type="text" class="form-control" id="queue-date" value="{{ date }}">
        </label>
    </div>
</div>

<div class="connections__content">
    <div class="header">
        <h4 class="h6">
            <a href="{% url 'doctor_profile_medical_institution_home' medical_institution.slug %}">{{ page_title }}</a>
        </h4>
        <div class="row">
            <div class="col-sm-12 col-md-6 mb-1">
                {% if schedules %}
                    <ul>
                        {% for schedule_day in schedules %}
                            <li>
                                <strong>{{ schedule_day.schedule.split_days }}</strong>:
                                {{ schedule_day.schedule.start_time.format_12 }} to {{ schedule_day.schedule.end_time.format_12 }} <br>
                                <small>({{ schedule_day.schedule.start_date }} to {{ schedule_day.schedule.end_date }})</small>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="alert alert-danger">
                        {{ doctor }} does not have a schedule at {{ medical_institution }} on this day!
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-6 col-md-3 text-center">
                The doctor is<br>
                <div id="doctor_presence_container"></div>
            </div>
            <div class="col-sm-6 col-md-3 text-center">
                Currently<br>
                <div id="doctor_stepped_out_container"></div>
            </div>
        </div>
    </div>
    <div class="body py-1">
        <p class="mb-2">
            <a href="{% url 'doctor_profile_medical_institution_history_list' medical_institution.slug %}?date={{ date }}">Appointment History</a>
        </p>
        <table class="table table-bordered table-responsive-md medical-records__table">
            <thead>
            <tr>
                <th>Queue</th>
                <th>Photo</th>
                <th>Name</th>
                <th style="width: 40%;">Action</th>
            </tr>
            </thead>
            <tbody id="container-queue">
                <tr>
                    <td colspan="4" class="text-center">
                        <div class="donut-spinner"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


