{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Linecare &mdash; Doctor Profile &mdash; {{ page_title }}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'neo/css/styles.min.css' %}">

    {% block header_css %} {% endblock %}
    {% block header_js %} {% endblock %}
    <script src="{% static 'channels/js/websocketbridge.js' %}" type="text/javascript"></script>

    <style type="text/css">
        ul.main-nav:after {
            content: "";
            display: block;
            clear: both;
        }

        ul.main-nav li.main-nav-item {
            list-style-type: none;
            margin: 0 20px 0 0;
            padding: 0;
            float: left;
            font-size: 1.5rem;
        }

        ul.main-nav li.main-nav-item a {
            color: #558b2f !important;
        }

        ul.main-nav li.main-nav-item a.active {
            color: #64dd17 !important;
        }

        ul.main-nav li.main-nav-item a:hover {
            color: #00c853 !important;
        }
    </style>


</head>

<body>

{% include 'neo/profile/common/nav__top.html' %}
{% include 'neo/profile/common/nav__main.html' %}
{% block nav_submain %}
    {% include 'neo/doctor_profiles/common/nav__submain.html' %}
{% endblock %}

<div class="container">
    {% block content %}{% endblock %}
</div>

{% include 'neo/profile/common/footer.html' %}

<div id="backToTopDiv" class="p-4">
    <a onclick="topFunction()" title="Go to top" href="javascript:void(0)" class="rounded-circle btn-primary p-2"><i
            class="fas fa-arrow-up fa-fw"></i></a>
</div>

<script src="{% static 'neo/js/main.min.js' %}"></script>
<script src="{% static '3rd-party/jquery.popupoverlay.js' %}"></script>
{% block scripts %}
{% endblock %}
{% block base_scripts %}
{% endblock %}
{% block home_scripts %}
{% endblock %}

<script src="{% static 'neo/js/snippetProfileProgress.js' %}"></script>
<script type="text/javascript" src="{% static '3rd-party/jquery-template/jquery.loadTemplate.min.js' %}"></script>

<script type="text/html" id="appointment-notification-template">
    <div class="row">
        <div class="col-md-2">
            <img style="max-width: 52.666px;max-height:52.666px;" data-src="appointment.patient.photo"
                 class="img-thumbnail img-fluid" data-alt="appointment.patient.name">
        </div>
        <div class="col-md-10">
            <strong>New
                <a data-href="appointment.url">
                    <span data-content="appointment.type_display"></span>
                </a>
                for
                <a data-href="appointment.patient.url">
                    <span data-content="appointment.patient.name"></span>
                </a>
                at
                <a data-href="appointment.medical_institution.url">
                    <span data-content="appointment.medical_institution.name"></span>
                </a>
            </strong>
            <br>
            <a data-href="appointment.schedule.url">
                <span data-content="appointment.schedule.day_nicename"></span>, <span
                    data-content="appointment.schedule.time_start"></span> to <span
                    data-content="appointment.schedule.time_end"></span>
            </a>
        </div>
    </div>
    <hr>
</script>


<script type="text/javascript">
    $(document).ready(function () {

        countAppointments();

        {% if request.user.doctorprofile.display_profile_progress_status %}
            var snippet_location = $("#profile-progress-snippet");
            loadProfileProgress(snippet_location);
            snippet_location.on('click', '#dismiss-profile-progress', function (e) {
                e.preventDefault();
                snippet_location.remove();
                $.get("{% url 'api_doctor_profile_dismiss_profile_progress_display' %}");
            });


        {% endif %}

        var webSocketBridge = new channels.WebSocketBridge();
        webSocketBridge.connect('/notifications/receptionist/appointments/');
        webSocketBridge.listen(function (event) {
            if (event.type === "notification.alert") {
                var a = event.appointment;
                $("#badgeNotificationAlert").removeClass('hide');
                countAppointments();
                $.notify({
                    message: "New appointment created for " + a.patient.name
                }, {
                    type: 'success'
                });
            }
        });
    });

    function countAppointments() {
        var url = "{% url 'api_private_patient_appointment_count' %}";
        $.get(url)
            .done(function (result) {
                var title = "(" + result + ") Linecare - Doctor Profile - {{ page_title }}";
                document.title = title;
            });
    }

    window.onscroll = function () {
        scrollFunction()
    };

    var bell = document.getElementById("notification_bell");
    var listsSection = document.getElementById("appointment-lists-container");
    var clearBtn = document.getElementById("clear_notifications");

    function showAppointmentLists() {
        if (listsSection.style.display === "none") {
            listsSection.style.display = "block";
        } else {
            listsSection.style.display = "none";
        }
        $.get("{% url 'api_private_notifications_appointments_list' %}", function (data) {
            if (data.length === 0) {
                $('#appointment-lists-section').html('No new notifications');
            } else {
                $('#appointment-lists-section').loadTemplate($("#appointment-notification-template"), data);
            }
        })
    }

    function clearAppointmentLists() {
        listsSection.style.display = "none";
        $.get("{% url 'api_private_notifications_appointments_clear' %}", function (data) {
            $('#appointment-lists-section').loadTemplate($("#appointment-notification-template"), data);
            $("#badgeNotificationAlert").addClass('hide');
        })
    }

    bell.addEventListener('click', showAppointmentLists);
    clearBtn.addEventListener('click', clearAppointmentLists);

    function scrollFunction() {
        if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
            document.getElementById("backToTopDiv").style.display = "block";
        } else {
            document.getElementById("backToTopDiv").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }


</script>

</body>

</html>
