{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Linecare &mdash; Doctor Profile &mdash; {{ page_title }}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'neo/css/styles.min.css' %}">

    {% block header_css %} {% endblock %}
    {% block header_js %} {% endblock %}

    <script src="{% static 'channels/js/websocketbridge.js' %}" type="text/javascript"></script>

</head>

<body>

    {% include 'neo/profile/common/nav__top.html' %}
    {% include 'neo/profile/common/nav__main.html' %}
    {% block nav_submain %}
        {% include 'neo/doctor_profiles/common/nav__submain.html' %}
    {% endblock %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {% include 'neo/profile/common/footer.html' %}

    <script src="{% static 'neo/js/main.min.js' %}"></script>
    <script src="{% static '3rd-party/jquery.popupoverlay.js' %}"></script>
    {% block scripts %}
    {% endblock %}
    {% block base_scripts %}
    {% endblock %}
    {% block home_scripts %}
    {% endblock %}

    <script src="{% static 'neo/js/snippetProfileProgress.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            {% if request.user.doctorprofile.display_profile_progress_status %}
                var snippet_location = $("#profile-progress-snippet");
                loadProfileProgress(snippet_location);
                snippet_location.on('click', '#dismiss-profile-progress', function(e){
                    e.preventDefault();
                    snippet_location.remove();
                    $.get("{% url 'api_doctor_profile_dismiss_profile_progress_display' %}");
                });


            {% endif %}
        });
    </script>

</body>

</html>