<script type="text/javascript">

    $(document).ready(function(){
        getQueue('{{ date }}');
    });

    function getQueue(){

        var date = arguments.length > 0 && arguments[0] !== undefined ? arguments[0]: null;

        if( !date ){
            date = new Date().toISOString().split("T")[0];
        }
        var url = "{% url 'api_private_queue_list' %}?doctor_id={{ doctor.id }}&medical_institution_id={{ medical_institution.id }}&date=" + date;

        $.get(url)
            .done(function(result){
                var queue = [];
                var q_number = 1;
                for(var r in result){
                    var q = result[r];
                    var btnAction = "";
                    var subAction = "";
                    var base_url = "{% url 'api_private_patient_appointment_status_update' %}?appointment_id=" + q.id;
                    var patient_appointment_url = "{% url 'doctor_profile_patient_appointment_detail' %}?appointment=" + q.id;
                    var reschedule_url = "";
                    if(q["status"] === "pending"){
                        var arrived_url = base_url + "&queue_status=queueing";

                        btnAction += "<a class='btn btn-info btn-sm action-button mark-arrived' href='" + arrived_url + "' data-id='" + q.id + "'>Mark arrived</a>";
                        btnAction += "<a class='btn btn-danger btn-sm action-button cancel-appointment' href='#!' data-id='" + q["id"] +"'>Cancel</a>";
                        subAction += '<a href="' + reschedule_url + '">Reschedule Appointment</a>';
                    }
                    else if(q["status"] === "queueing"){
                        var pending_url = base_url + "&queue_status=pending";
                        var in_progress_url = base_url + "&queue_status=in_progress";

                        btnAction += "<a class='btn btn-primary btn-sm action-button receive-appointment' href='" + in_progress_url +"' data-id='" + q["id"] +"'>Come in</a>";
                        btnAction += "<a class='btn btn-secondary btn-sm action-button mark-pending' href='" + pending_url + "' data-id='" + q["id"] +"'>Mark pending</a>";
                        subAction += '<a href="' + reschedule_url + '">Reschedule Appointment</a>';
                    }
                    else if(q["status"] === "in_progress"){
                        var back_to_queue_url = base_url + "&queue_status=queueing";
                        var mark_done_url = base_url + "&queue_status=done";

                        btnAction += "<a class='btn btn-info btn-sm' href='" + patient_appointment_url + "'>Load Medical Chart</a>";
                        btnAction += "<a class='btn btn-secondary btn-sm action-button' href='" + back_to_queue_url + "'>Back to queue</a>";
                        // btnAction += "<a class='btn btn-success btn-sm action-button mark-done' href='" + mark_done_url + "'>Done</a>";
                    }

                    subAction += '<br><a href="' + patient_appointment_url + '">View appointment details</a>';

                    q["button_action"] = btnAction;
                    q["subactions"] = subAction;
                    q["q_number"] = q_number;
                    q_number++;

                    queue.push(q);
                }
                $("#container-queue").loadTemplate($("#template-queue"), queue);

                $(".queue-action-buttons .action-button").on('click', function(e){
                    e.preventDefault();
                    var action_url = $(this).attr("href");

                    $.get(action_url)
                        .done(function(result){
                            $.notify({
                                message: result
                            }, {
                                type: 'success'
                            });
                            getQueue('{{ date }}');
                        })
                        .fail(function(result){
                            $.notify({
                                message: result.responseJSON
                            }, {
                                type: 'danger'
                            });
                        });
                });
            })
            .fail(function(result){
                console.log(result);
            });
    }

</script>