<script type="text/javascript">
    var containerSerp = $("#container_patients_serp");
    var templateSerp = $("#template_patients_serp");
    var sTerm = $("#txtSearchTerm");
    var chkRestrictToParents = $("#chkRestrictToOldPatients");
    var btnCreateNewPatient = $("#btnCreateNewPatient");
    var formCreateNewPatient = $("#formCreateNewPatient");

    $(document).ready(function () {
        sTerm.on('keydown', function (e) {
            var selfLen = $(this).val().length;

            if (selfLen >= 2) {
                searchPatients();
                containerSerp.html(
                    $(this).val()
                );
            } else if (selfLen > 0) {
                containerSerp.html(
                    "<div class='donut-spinner'></div>"
                );
            } else {
                containerSerp.html('');
            }
        });

        chkRestrictToParents.on('click', function (e) {
            searchPatients();
        });

        btnCreateNewPatient.on('click', function (e) {
            e.preventDefault();
            $("#modalCreateNewPatient").modal("show");
        });

        $("#id_date_of_birth").bootstrapMaterialDatePicker({
            format: "YYYY-MM-DD",
            time: false,
            date: true,
        });

        formCreateNewPatient.on('submit', function (e) {
            e.preventDefault();


            createNewPatient();
        });

    });

    function createNewPatient() {
        var url = "{% url 'api_account_subuser_create' %}";
        var formData = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            first_name: $("#id_first_name").val(),
            last_name: $("#id_last_name").val(),
            date_of_birth: $("#id_date_of_birth").val(),
            gender_id: $("#id_gender").val(),
            height: $("#id_height").val(),
            weight: $("#id_weight").val(),
            blood_type: $("#id_blood_type").val()
        };
        $.post(url, formData)
            .done(function (result) {
                $.notify({
                    message: "Patient created!"
                }, {
                    type: 'success'
                });
                $("#profile_id").val(result.base_profile.id);
                $("#lblPatientName").html(result.base_profile.full_name);
                $("#modalCreateNewPatient").modal('hide');
                $("#modalScheduleAppointment").modal('show');
            })
            .fail(function (result) {
                $.notify({
                    message: result.responseJSON
                }, {
                    type: 'danger'
                });
            });
    }

    function searchPatients() {
        var restrictToOldPatients = chkRestrictToParents.prop("checked");
        var url = null;
        $("#profile_id").val(null);

        if (sTerm.val().length > 0) {
            if (restrictToOldPatients) {
                url = "{% url 'api_private_patient_connection_search' %}?s=" + sTerm.val() + "&doctor_id={{ doctor.id }}";
            } else {
                url = "{% url 'api_private_profiles_by_name' %}?s=" + sTerm.val();
            }

            $.get(url)
                .done(function (result) {

                    if (result.length > 0) {
                        containerSerp.loadTemplate(templateSerp, result);

                        $(".btnCreateSchedule").click(function (e) {
                            e.preventDefault();
                            $("#profile_id").val($(this).attr("data-profile-id"));
                            $("#lblPatientName").html($(this).attr("data-profile-name"));
                            $("#modalScheduleAppointment").modal('show');
                        });

                    } else {
                        $("#profile_id").val(null);
                        containerSerp.html(
                            "<div class='alert alert-warning'>No results</div>"
                        )
                    }

                })
                .fail(function (jqXHR) {
                    console.log(jqXHR);
                });
        }
    }

</script>