{% load static %}

<script type="text/javascript">

    $(document).ready(function(){
        getQueue('{{ date }}');

        var webSocketBridge = new channels.WebSocketBridge();
        webSocketBridge.connect('/notifications/doctor/queue/status_update/');
        webSocketBridge.listen(function (event) {
            console.log(event);
            if(event.type === "queue.update"){
                getQueue('{{ date }}');
            }
        });
    });

    function getQueue(){

        var date = arguments.length > 0 && arguments[0] !== undefined ? arguments[0]: null;

        if( !date ){
            date = new Date().toISOString().split("T")[0];
        }
        var url = "{% url 'api_private_queue_list' %}?doctor_id={{ doctor.id }}&date=" + date + "&count=1";

        $.get(url)
            .done(function(result){
                var queue = [];
                for(var r in result){
                    var q = result[r];
                    var btnAction = "";
                    var subAction = "";
                    var patient_appointment_url = "{% url 'doctor_profile_patient_appointment_detail' %}?appointment=" + q.id;
                    var mi_url = "{% url 'doctor_profile_schedule_detail_urlstring' %}?medical_institution=" + q.medical_institution.slug + "&date={{ date }}";

                    subAction += '<a href="' + patient_appointment_url + '">View appointment details</a>';

                    q["button_action"] = btnAction;
                    q["subactions"] = subAction;
                    q["mi_url"] = mi_url;

                    queue.push(q);
                }
                $("#container-queue").loadTemplate($("#template-queue"), queue);

                $(".queue-action-buttons .action-button").on('click', function(e){
                    e.preventDefault();
                    var action_url = $(this).attr("href");

                    $.get(action_url)
                        .done(function(result){
                            $.notify({
                                message: result
                            }, {
                                type: 'success'
                            });
                            getQueue('{{ date }}');
                        })
                        .fail(function(result){
                            $.notify({
                                message: result.responseJSON
                            }, {
                                type: 'danger'
                            });
                        });
                });
            })
            .fail(function(result){
                console.log(result);
            });
    }

</script>