<div id="modalPatientPreview" class="popup-modal card">
    <div class="card-body">
        <div id="container-patient-detail">
        </div>
        <h6 class="h6">Most Recent Appointment History</h6>
        <ul class="list-group" id="container-patient-appointments-list">
            <div class="donut-spinner"></div>
        </ul>
        
    </div>
    <div class="card-footer">
        <div class="card-actions">
            <a href="#!" id="btnPreviewPatientPrevious">Previous</a> | <a href="#!" id="btnPreviewPatientNext">Next</a>
        </div>
    </div>
</div>
