<script type="text/html" id="template-queue">
    <tr>
        <td>
            <span class="queue-number" data-content="q_number"></span>
            <div class="queue-time">
                <a data-href="appointment_url">
                    <span class="queue-time-start" data-content="time_start.format_12"></span>
                    <br>&mdash; to &mdash;<br>
                    <span class="queue-time-end" data-content="time_end.format_12"></span>
                </a>
            </div>

            <div data-class="queue_status" class="queue-status"></div>
        </td>
        <td class="queue-img-block">
            <img class="img-thumbnail queue-img" data-alt="patient.full_name" data-src="patient.profile_photo"><br>
            <small>Prior visits: <span data-content="prior_visits"></span></small><br>
            <small>Last visit: <a data-href="last_visit.url"><span data-content="last_visit.date"></span></a></small>
        </td>
        <td class="align-middle patient-details-td">
            <a href="#!" class="modalPatientPreview_open" data-template-bind='[{"attribute": "data-patient-id", "value": "index"}]' >
                <span data-content="patient.full_name"></span>
            </a>
            <br>
            <span data-content="patient.date_of_birth"></span>
            <br>
            <span data-content="patient.gender.name"></span>
            <br>
            <strong data-content="type"></strong>
        </td>
        <td class="align-middle">
            <a data-href="mi_url" data-content="medical_institution.name"></a>
        </td>
        <td class="queue-action-block align-middle">
            <div class="queue-action-buttons btn-group-sm" data-content="button_action">

            </div>
        </td>
    </tr>
</script>

<script type="text/html" id="template-patient-detail">

    <div class="col-sm-12 col-md-2">
				<img class="thumbnail img-fluid" data-src="patient.profile_photo">
		</div>
		<div class="col-sm-12 col-md-10">
        <h4 class="h4">
            <a data-href="patient.patient_detail_url" data-content="patient.full_name"></a>
        </h4>
        <div class="row mb-2 no-gutters info-details">
            <div class="col">
                <div class="info-label">
                    Birth Date
                </div>
                <div class="info-value" data-content="patient.date_of_birth"></div>
            </div>
            <div class="col">
                <div class="info-label">
                    Sex
                </div>
                <div class="info-value" data-content="patient.gender.name"></div>
            </div>
            <div class="col">
                <div class="info-label">
                    Height (cm)
                </div>
                <div class="info-value" data-content="biometrics.height"></div>
            </div>
            <div class="col">
                <div class="info-label">
                    Weight (kg)
                </div>
                <div class="info-value" data-content="biometrics.weight"></div>
            </div>
            <div class="col">
                <div class="info-label">
                    Blood Type
                </div>
                <div class="info-value" data-content="biometrics.blood_type"></div>
            </div>
        </div>
    </div>


</script>
<script type="text/html" id="template-patient-appointments-list">
    <li class="list-group-item">
        <a data-href="appointment_url" data-content="text"></a>
    </li>

</script>
