{% load static %}
<ul class="sidebar-nav">
    <li class="sidebar-nav-item">
        <a {% if sublocation == 'home' %}class="active"{% endif %}
           href="{% url 'doctor_profile_settings_home' %}">Home</a>
    </li>
    <li class="sidebar-nav-separator"></li>
    <li class="sidebar-nav-item">
        <a {% if sublocation == 'degree' %}class="active"{% endif %}
           href="{% url 'doctor_profile_settings_medical_degree' %}">
            <i class="fas fa-graduation-cap mr-3"></i>
            Medical Degree
        </a>
    </li>
    <li class="sidebar-nav-item">
        <a {% if sublocation == 'specialization' %}class="active"{% endif %}
           href="{% url 'doctor_profile_settings_specialization' %}">
            <i class="fas fa-user-md mr-3"></i>
            Specializations
        </a>
    </li>
<!--
    <li class="sidebar-nav-item">
        <a {% if sublocation == 'subspecialization' %}class="active"{% endif %} href="">
            <i class="fas fa-user-md mr-3"></i>
            Sub Specializations
        </a>
    </li>
-->
    <li class="sidebar-nav-item">
        <a {% if sublocation == 'associations' %}class="active"{% endif %}
           href="{% url 'doctor_profile_settings_association' %}">
            <i class="fas fa-cubes mr-3"></i>
            Medical Association
        </a>
    </li>
    <li class="sidebar-nav-item">
        <a {% if sublocation == 'insurance' %}class="active"{% endif %}
           href="{% url 'doctor_profile_settings_insurance' %}">
            <i class="fas fa-user-injured mr-3"></i>
            Insurance Providers
        </a>
    </li>
    <li class="sidebar-nav-item">
        <a {% if sublocation == 'institution' %}class="active"{% endif %}
           href="{% url 'doctor_profile_settings_medical_institution' %}">
            <i class="fas fa-hospital mr-3"></i>
            Hospital/Clinics
        </a>

    </li>
    <li class="sidebar-nav-separator"></li>
    {% if rel.medical_institution %}
    <li class="sidebar-nav-item">
        <a {% if sublocation == 'connection' %}class="active"{% endif %} href="">Connection Details {{ rel.medical_institution }}</a>
        {% if sublocation == 'connection' %}
            <ul class="sidebar-nav-child">
                <li><a href="#map-section">Location</a></li>
                <li><a href="#connections-section">Receptionist Connections</a></li>
                <li><a href="#schedule-section">Schedule</a></li>
            </ul>
        {% endif %}

    </li>
    {% endif %}
</ul>
