<div class="modal fade" id="modalScheduleAppointment" tabindex="-1" role="dialog"
     aria-labelledby="modalScheduleAppointmentLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalScheduleAppointmentLabel">Schedule an appointment for <span id="lblPatientName"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="frmScheduleAppointment">
                    {% csrf_token %}
                    <div class="form-group row align-items-baseline">
                        <label class="col">Time</label>
                        <div class="col-8">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="scheduleOptionFirstAvailable" name="scheduleOption"
                                       class="custom-control-input" checked>
                                <label class="m-0 p-0 custom-control-label" for="scheduleOptionFirstAvailable">First available</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="scheduleOptionUserChoice" name="scheduleOption"
                                       class="custom-control-input">
                                <label class="m-0 p-0 custom-control-label" for="scheduleOptionUserChoice">Let me choose</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row hide" id="scheduleTimePicker">
                        <label for="scheduleTimeStart" class="col-4 col-form-label">Start Time</label>
                        <div class="col-8">

                            <input type="text" name="scheduleTimeStart" id="scheduleTimeStart"
                                   class="scheduleTime form-control">

                        </div>
                        <label for="scheduleTimeEnd" class="col-4 col-form-label mt-2">End Time</label>
                        <div class="col-8 mt-2">

                            <input type="text" name="scheduleTimeEnd" id="scheduleTimeEnd"
                                   class="scheduleTime form-control">

                        </div>

                        <label for="forceSchedule" class="col-4">Force Schedule</label>
                        <div class="col-8">
                            <div class="custom-control d-flex flex-column">
                                <input type="checkbox" name="forceSchedule" id="forceSchedule" class="form-check-input" style="width: 24px !important;">
                            </div>
                            <small class="my-4">Note: This will bypass date and time conflict checking.</small>
                        </div>

                        <label for="scheduleDaySelect" class="col-4">Schedule Select</label>
                        <div class="col-8">
                            <select name="scheduleDaySelect" id="scheduleDaySelect" class="form-control">
                                {% for schedule_day in schedules %}
                                    <option value="{{ schedule_day.id }}">
                                        {{ schedule_day.schedule.start_time.format_12 }} to {{ schedule_day.schedule.end_time.format_12 }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="scheduleType" class="col-4 col-form-label">Type</label>
                        <div class="col-8">
                            <div class="input-group">
                                <select name="scheduleType" id="scheduleType" class="custom-select" required>
                                    <option>---</option>
                                    {% for at in appointment_types %}
                                        <option value="{{ at.0 }}">{{ at.1 }}</option>
                                    {% endfor %}
                                </select>
                                <div id="appointment_type_description" class="alert alert-info mt-1 help-text help-text-sm">
                                    Please select an appointment type
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="profile_id" id="profile_id">
                    <div class="form-group row">
                        <div class="offset-4 col-8">
                            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>