<div class="card-header">
    <h4 class="h6">Laboratory Requests</h4>
</div>
<div class="card-body">
    <div class="info clearfix" id="patient-labtests-container"><div class="donut-spinner"></div></div>

    <p class="mt-3 p-0">
        <a class="text-muted modalDismissedLabtests_open" href="#!" id="btnDismissedLabtests">Dismissed Lab Test Requests</a>
    </p>
    <hr>

    <p class="mt-3">
        <a class="btn btn-outline-primary modalAddLabTest_open" id="btnAddLabTest" href="#!">
            Request a laboratory test
        </a>
    </p>
</div>