<div id="modalAddLabTest" class="popup-modal popup-modal card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="form-group mb-2">
                    <input type="text" class="form-control" placeholder="Search..." name="txtLabTestsearch" id="txtLabTestsearch">
                </div>
                <div style="height: 60vh; overflow: scroll">
                    <div class="container-fluid" id="labtests-container"></div>
                </div>
                <a id="btnAddLabTestPatientSelected" class="btn btn-primary btn-sm mt-1" href="#!">
                    Request selected tests
                </a>
            </div>
            <div class="col-sm-12 col-md-8 hide" id="modalAddLabTestDescriptionPane">
                <h4 id="modalAddLabTest_title" class="h4"></h4>
                <hr>
                <h5 class="h5">Description</h5>
                <div id="modalAddLabTest_description_wrapper">
                    <p><span id="modalAddLabTest_description"></span> <a href="#!" class="modalAddLabTest_description_full_open">Read mode &raquo;</a></p>
                    <div id="modalAddLabTest_description_full" class="popup-modal card card-body" style="width: 50vw"></div>
                </div>
                <h5 class="h5">Purpose</h5>
                <div id="modalAddLabTest_purpose_wrapper">
                    <p><span id="modalAddLabTest_purpose"></span> <a href="#!" class="modalAddLabTest_purpose_full_open">Read mode &raquo;</a></p>
                    <div id="modalAddLabTest_purpose_full" class="popup-modal card card-body" style="width: 50vw"></div>
                </div>
                <h5 class="h5">Indication</h5>
                <div id="modalAddLabTest_indication_wrapper">
                    <p><span id="modalAddLabTest_indication"></span> <a href="#!" class="modalAddLabTest_indication_full_open">Read mode &raquo;</a></p>
                    <div id="modalAddLabTest_indication_full" class="popup-modal card card-body" style="width: 50vw"></div>
                </div>
                <h5 class="h5">Notes</h5>
                <div id="modalAddLabTest_notes_wrapper">
                    <p><span id="modalAddLabTest_notes"></span> <a href="#!" class="modalAddLabTest_notes_full_open">Read mode &raquo;</a></p>
                    <div id="modalAddLabTest_notes_full" class="popup-modal card card-body" style="width: 50vw"></div>
                </div>
                <hr>
                <a id="btnAddLabTestPatient" class="btn btn-primary" href="#!">
                    Request for this test
                </a>
            </div>
        </div>
    </div>
</div>

<div id="modalLabTestRequestDetail" class="popup-modal popup-modal-wide card">
    <div class="card-body">
        <div class="card-header">
            <h5 class="h5" id="modalLabTestRequestDetail_title"></h5>
        </div>
        <div class="card-body">
            <div id="modalLabTestRequestDetail_description"></div>

            <div class="alert alert-secondary my-3">
                Lab test results placeholder. Note that you won't be able to remove tests with results
            </div>
        </div>
    </div>
</div>

<div id="modalDismissedLabtests" class="popup-modal card">
    <div class="card-body">
        <h5 class="h5">Dismissed Lab Test Requests</h5>
        <ul id="dismissed-labtests-container" class="list-group list-group-flush"></ul>
    </div>
</div>