<script type="text/html" id="labtests-template">
    <div class="row">
        <div class="col-1">
            <input type="checkbox" name="labtest_check" data-value="id">
        </div>
        <div class="col">
            <a href="#!" class="labtest-item" data-content="name" data-template-bind='[{"attribute": "data-labtest-id", "value": "id"}]'></a>
        </div>
    </div>
</script>

<script type="text/html" id="patient-labtests-template">
    <span class="badge--gray mr-1 mb-1">
        <a href="#!" data-content="lab_test.name" class="py-0 px-2 modalLabTestRequestDetail_open patient-labtest-detail" data-template-bind='[{"attribute": "data-labtest-id", "value": "lab_test.id"}, {"attribute": "data-labtest-name", "value": "lab_test.name"}, {"attribute": "data-labtest-description", "value": "lab_test.description"}, {"attribute": "title", "value": "lab_test.description"}]'></a>
        <a href="#!" class="remove-lab_test ml-3 remove-button" data-template-bind='[{"attribute": "data-lab_test-id", "value": "lab_test.id"}]'>
            <i class="fa fa-times"></i>
        </a>
    </span>
</script>

<script type="text/html" id="dismissed-labtests-template">
    <li class="list-group-item">
        <a href="#!" class="undismiss-labtest" data-template-bind='[{"attribute": "data-labtest-id", "value": "lab_test.id"}]'><span data-content="lab_test.name"></span></a> <em>dismissed by <span data-content="removed_by.doctor_name"></span></em>
    </li>
</script>