{% load static %}
{% load crispy_forms_tags %}
<div class="user-profile__container">
    <!-- React Base Profile goes here -->
    <div id="base_profile_app"><div class="donut-spinner"></div></div>


    <div class="user-profile__wrapper col-lg-12">
        <div class="user-profile__edit-btn">
            <a href="{% url 'profile_settings_basic_info_view' %}" class="btn btn-light rounded-circle"><i class="fas fa-pen fa-fw"></i></a>
        </div>
        <div class="user-profile__name">
            <div class="user-profile__flex">
                <h4>{{ profile }}</h4>
                <h4>{{ profile.gender }}</h4>
            </div>

        </div>
        <div class="user-profile__buttons row">
            <div class="col-sm-3 col-md-1">
                {% if profile.user.doctorprofile %}
                <a href="{% url 'doctor_profile_home' %}" data-toggle="tooltip" data-placement="top" title="My Doctor Profile">
                    <img src="{% static 'neo/images/icons/doctor-active.png' %}" class="img-fluid">
                </a>
                {% else %}
                <a href="{% url 'doctor_profile_create' %}" data-toggle="tooltip" data-placement="top" title="Create a Doctor Profile">
                    <img src="{% static 'neo/images/icons/doctor-inactive.png' %}" class="img-fluid">
                </a>
                {% endif %}
            </div>
            <div class="col-sm-3 col-md-1">
                {% if profile.user.receptionistprofile %}
                    <a href="{% url 'receptionist_profile_home' %}" data-toggle="tooltip" data-placement="top" title="My Receptionist Profile">
                        <img src="{% static 'neo/images/icons/receptionist-active.png' %}" class="img-fluid">
                    </a>
                {% else %}
                <a href="{% url 'receptionist_profile_create' %}" data-toggle="tooltip" data-placement="top" title="Create a Receptionist Profile">
                    <img src="{% static 'neo/images/icons/receptionist-inactive.png' %}" class="img-fluid">
                </a>
                {% endif %}
            </div>
            <div class="col-sm-3 col-md-1">
                {% if profile.user.patientprofile %}
                <a href="" data-toggle="tooltip" data-placement="top" title="My Patient Profile">
                    <img src="{% static 'neo/images/icons/patient-active.png' %}" class="img-fluid">
                </a>
                {% else %}
                <a href="" data-toggle="tooltip" data-placement="top" title="My Patient Profile">
                    <img src="{% static 'neo/images/icons/patient-inactive.png' %}" class="img-fluid">
                </a>
                {% endif %}
            </div>
            <div class="col-sm-3 col-md-9">
                &nbsp;
            </div>

        </div>
        <div class="user-profile__socials">
            <!--<a href="#top"><i class="fab fa-facebook-f fa-fw"></i></a>-->
            <!--<a href="#top"><i class="fab fa-twitter fa-fw"></i></a>-->
        </div>
        <hr>
        <div class="user-profile__information">
            <h6>Personal Information</h6>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    {{ profile.as_html|safe }}
                </div>
                <div class="col-lg-6 col-sm-12">
                    <h6>Biometrics</h6>

                    {% if profile.get_biometrics %}
                    {{ profile.get_biometrics.as_html|safe }}
                    {% else %}
                    <a href="{% url 'profile_settings_biometrics_create' %}" class="btn btn-outline-primary">
                        Set up biometrics
                    </a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>

{% block inner_scripts %}

{% endblock %}