{% load static %}
<ul class="sidebar-nav">
    <li class="sidebar-nav-item">
        <a {% if location == 'doctor_profile_patients' %}class="active"{% endif %}
           href="{% url 'doctor_profile_patient_list' %}">Patients</a>
    </li>
    <li class="sidebar-nav-separator"></li>
    <li class="sidebar-nav-item">
        <a {% if location == 'detail_home' %}class="active"{% endif %}
           href="{% url 'doctor_profile_patient_detail' patient.id %}">
            <i class="fas fw fa-user mr-3"></i>
            Patient Information
        </a>
    </li>
    <li class="sidebar-nav-item">
        <a {% if location == 'appointment_history' %}class="active"{% endif %} href="">
            <i class="fas fw fa-history mr-3"></i>
            Appointment History
        </a>
    </li>
    <li class="sidebar-nav-item">
        <a {% if location == 'appointment_timeline' %}class="active"{% endif %} href="">
            <i class="fas fw fa-chart-area mr-3"></i>
            Timeline
        </a>
    </li>
    <li class="sidebar-nav-separator"></li>
    <li class="sidebar-nav-item">
        <a {% if location == 'findings' %}class="active"{% endif %} href="">
            <i class="fas fw fa-bug mr-3"></i>
            Symptoms and Findings
        </a>
    </li>
    <li class="sidebar-nav-item">
        <a {% if location == 'diagnoses' %}class="active"{% endif %} href="">
            <i class="fas fw fa-diagnoses mr-3"></i>
            Diagnoses
        </a>
    </li>
    <li class="sidebar-nav-item">
        <a {% if location == 'prescriptions' %}class="active"{% endif %} href="">
            <i class="fas fw fa-prescription mr-3"></i>
            Medication
        </a>
    </li>
    <li class="sidebar-nav-item">
        <a {% if location == 'labs' %}class="active"{% endif %} href="">
            <i class="fas fw fa-vials mr-3"></i>
            Lab Requests
        </a>
    </li>
    <li class="sidebar-nav-separator"></li>
    <li class="sidebar-nav-item">
        <a {% if location == 'referral' %}class="active"{% endif %} href="">
            <i class="fas fw fa-retweet mr-3"></i>
            Send Referral
        </a>
    </li>


</ul>
