{% extends 'neo/doctor_profiles/home/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header_css %}
<link rel="stylesheet" href="{% static 'react/doctor_profile/home/css/main.chunk.css' %}">
{% endblock %}
{% block header_js %}
{% endblock %}

{% block subcontent %}
    <div id="doctor_profile_app"></div>

{% endblock %}

{% block home_scripts %}
<script type="text/javascript">
    var appContext = {
        doctor_id: '{{request.user.doctorprofile.id}}',
        profile_id: '{{request.user.base_profile.id}}',
        user_id: '{{ request.user.id }}',
        profile_photo_album_id: '{{ request.user.base_profile.get_profile_album.id }}',
        cover_photo_album_id: '{{ request.user.base_profile.get_cover_album.id }}',
    };
</script>
<script src="{% static 'react/doctor_profile/home/js/1.chunk.js' %}"></script>
<script src="{% static 'react/doctor_profile/home/js/main.chunk.js' %}"></script>
<script src="{% static 'react/doctor_profile/home/js/runtime-main.js' %}"></script>

{% endblock %}