{% extends 'neo/doctor_profiles/home/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header_css %}
{% endblock %}
{% block header_js %}
{% endblock %}

{% block subcontent %}

<div id="profile-progress-detail-snippet"></div>


{% endblock %}

{% block home_scripts %}
<script type="text/javascript">
    $(document).ready(function(){
        {% if request.user.doctorprofile.settings_progress.progress_int < 50 %}
            loadProfileProgressDetail($("#profile-progress-detail-snippet"));
        {% endif %}
    });
</script>
{% endblock %}