{% load static %}
<ul class="sidebar-nav mt-5">
    <li class="sidebar-nav-item">
        <a {% if sublocation == 'home' %}class="active"{% endif %} href="{% url 'receptionist_profile_home' %}">Home</a>
    </li>
    <li class="sidebar-nav-separator"></li>
    <li class="sidebar-nav-item">
        <a href="" {% if sublocation == 'list' %}class="active"{% endif %}>Doctor Connections</a>
    </li>
    <li class="sidebar-nav-item">
        <a href="">Medical Institution Connections</a>
        <ul class="sidebar-nav-child">
            <li>
                <a href="">child</a>
            </li>
            <li>
                <a href="">child</a>
            </li>
            <li>
                <a href="">child</a>
            </li>
        </ul>
    </li>
</ul>
