{% load static %}
<script type="text/javascript" src="{% static 'neo/js/formHelpers.jquery.js' %}"></script>
<script type="text/javascript">

    var medicalDegreeList = [];
    var doctorDegreeList = [];
    var medicalDegreeOptions = document.querySelector("#medical_degree_options");
    var medicalDegreeHTMLList = document.querySelector("#medical_degree_list");

    var medicalDegreeFormFields = [
        {
            id: "medical_degree_options",
            value: null,
            default: "",
            field_name: "degree.name"
        },
        {
            id: "doctor_degree_school",
            value: null,
            default: "",
            field_name: "school",
        },
        {
            id: "doctor_degree_year_attained",
            value: null,
            default: "",
            field_name: "year_attained",
        },
        {
            id: "doctor_degree_license",
            value: null,
            default: "",
            field_name: "license_number",
        },
        {
            id: "doctor_degree_id",
            value: null,
            default: "",
            field_name: "id",
        },
    ];


    // startup
    loadMedicalDegreeList();
    loadDoctorDegreeList();

    /**************************************************************************
     * Events
     **************************************************************************/
    $("#btnDoctorDegreeAdd").click(function(e){
        e.preventDefault();
        addDoctorDegree();
    });

    $("#btnMedicalDegreeAdd").click(function(e){
        e.preventDefault();
        addMedicalDegree();
    });

    $("#btnDoctorDegreeReset").click(function(e){
        e.preventDefault();
        resetForm(medicalDegreeFormFields);
    });

    $("#btnConfirmEditDoctorDegree").click(function(e){
        e.preventDefault();
        editDoctorDegree();

    });

    $("#medical_degree_list").on('click', '.doctorDegreeEdit', function(e){
        e.preventDefault();
        var degree = $(this).attr("data-degree");
        loadDoctorDegreeDetail(degree);
    }).on('click', '.doctorDegreeDelete', function(e){
        e.preventDefault();
        var degree = $(this).attr("data-degree");
        deleteDoctorDegree(degree);
    });


    /**************************************************************************
     * Functions
     **************************************************************************/

    function loadMedicalDegreeList(){
        var url = "{% url 'api_public_medical_degree_list' %}";
        $.get(url, function(response){
            medicalDegreeList = response;
            populateMedicalDegreeList();
        });
    }

    function loadDoctorDegreeList(){
        var url = "{% url 'api_public_doctor_degree_list' %}?user={{ request.user.id }}";
        $.get(url, function(response){
            doctorDegreeList = response;
            populateDoctorDegreeList();
        });
    }

    function loadDoctorDegreeDetail(degree){
        var url = "{% url 'api_private_doctor_degree_detail' %}?degree=" + degree;
        $.get(url).done(function(response){
            loadFormData(medicalDegreeFormFields, response);
            $("#edit_medical_degree_options").html(response.degree.name);
            $("#editDoctorDegree").modal('show');

        }).fail(function(jqXHR, textStatus, errorThrown){
            console.log(jqXHR);
        });
    }

    function deleteDoctorDegree(degree) {
        var url = "{% url 'api_private_doctor_degree_delete' %}?degree=" + degree;
        $("#confirmDoctorDegreeDelete").modal('show');
        $("#btnConfirmDeleteDoctorDegree").click(function (e) {
            e.preventDefault();
            var postData = {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            };
            postForm(url, postData, onSuccess=[loadDoctorDegreeList, function(){loadProfileProgress($("#profile-progress-snippet"))}], onFail=[], failSilently=true);
            $("#confirmDoctorDegreeDelete").modal('hide');
        });
    }

    function populateMedicalDegreeList(){
        // Populate options
        $("#medical_degree_options").find('option').remove().end();
        medicalDegreeList.map(function (option) {
            var id = option.id;
            var name = option.name;
            var html = "<option value=" + id + ">" + name + "</option>";
            medicalDegreeOptions.insertAdjacentHTML("beforeend", html);
        });
    }

    function populateDoctorDegreeList(){
        $("#medical_degree_list").find('li').remove().end();
        for(var key in doctorDegreeList){
            var degreeId = doctorDegreeList[key].id;
            var description = '<strong>' + doctorDegreeList[key].degree.name + '</strong><br>' +
                                doctorDegreeList[key].school + ' (' + doctorDegreeList[key].year_attained + ')<br>' +
                                '<code>' + doctorDegreeList[key].license_number + '</code>';
            var html =
            '<li class="list-group-item">' +
                '<a class="float-right doctorDegreeEdit btn-sm btn-warning" href="#!" data-degree="' + degreeId +'">' +
                    '<i class="fas fa-edit"></i>' +
                '</a>' +
                '<a class="float-right doctorDegreeDelete btn-sm btn-danger" href="#!" data-degree="' + degreeId +'">' +
                    '<i class="fas fa-times"></i>' +
                '</a>' +
                description +
            '</li>';
            medicalDegreeHTMLList.insertAdjacentHTML("beforeend", html);
        }
    }

    function addMedicalDegree() {
        var postData = {
            name: $("#medical_degree_name").val(),
            abbreviation: $("#medical_degree_abbreviation").val(),
            csrfmiddlewaretoken: '{{ csrf_token }}'
        };
        var url = "{% url 'api_private_medical_degree_create' %}";
        postForm(url, postData, onSuccess=[loadMedicalDegreeList]);
        $("#addMedicalDegree").modal('hide');
    }

    function editDoctorDegree(){
        var postData = {
            school: $("#edit_doctor_degree_school").val(),
            year_attained: $("#edit_doctor_degree_year_attained").val(),
            license_number: $("#edit_doctor_degree_license").val(),
            csrfmiddlewaretoken: '{{ csrf_token }}'
        };
        var degreeId = $("#edit_doctor_degree_id").val();
        url = "{% url 'api_private_doctor_degree_update' %}?degree=" + degreeId;

        postForm(url, postData, onSuccess=[loadDoctorDegreeList]);
        resetForm(medicalDegreeFormFields, "edit_");
        $("#editDoctorDegree").modal('hide');
    }

    function addDoctorDegree(){
        var postData = {
            school: $("#doctor_degree_school").val(),
            year_attained: $("#doctor_degree_year_attained").val(),
            license_number: $("#doctor_degree_license").val(),
            degree: $("#medical_degree_options").val(),
            csrfmiddlewaretoken: '{{ csrf_token }}'
        };
        url = "{% url 'api_private_doctor_degree_create' %}?user={{ request.user.id }}";
        postForm(url, postData, onSuccess=[
            loadDoctorDegreeList,
            function(){resetForm(medicalDegreeFormFields)},
            function(){loadProfileProgress($("#profile-progress-snippet"))}
            ]);
    }
</script>