{% load static %}
<script type="text/javascript" src="{% static 'neo/js/formHelpers.jquery.js' %}"></script>
<script type="text/javascript">

    var model = {
        baseEntity: {
            displayName: 'Specialization',
            displayNamePlural: 'Specializations',
            objectList: {
                url: "{% url 'api_public_specialization_list' %}",
                listElementId: "#entity_options",
                querySelector: document.querySelector("#entity_options"),
                keyValuePair: {
                    key: "id",
                    value: "name"
                },
                data: []
            },
            objectCreate: {
                url: "{% url 'api_private_specialization_create' %}",
                modalElementId: "#modalSpecializationCreate",
                fields: [
                    {
                        fieldName: "name",
                        default: "",
                        elementId: "#specialization_name"
                    }, {
                        fieldName: "abbreviation",
                        default: "",
                        elementId: "#specialization_abbreviation"
                    },{
                        fieldName: "practitioner_title",
                        default: "",
                        elementId: "#specialization_practitioner_title"
                    },{
                        fieldName: "practitioner_title_plural",
                        default: "",
                        elementId: "#specialization_practitioner_title_plural"
                    }
                ],
            }
        },
        relatedEntity: {
            displayName: 'Doctor Specialization',
            displayNamePlural: 'Doctor Specializations',
            objectList: {
                url: "{% url 'api_public_doctor_specialization_list' %}?user={{ request.user.pk }}",
                listElementId: "#related_entity_list",
                querySelector: document.querySelector("#related_entity_list"),
                data: [],
            },
            objectDetail: {
                url: "{% url 'api_private_doctor_specialization_detail' %}?specialization=",
                fields: [
                    {
                        elementId: "#entity_options",
                        value: null,
                        default: "",
                        fieldName: "specialization.name"
                    },
                    {
                        elementId: "#doctor_specialization_place_of_residency",
                        value: null,
                        default: "",
                        fieldName: "place_of_residency",
                    },
                    {
                        elementId: "#doctor_specialization_year_attained",
                        value: null,
                        default: "",
                        fieldName: "year_attained",
                    },
                    {
                        elementId: "#related_entity_id",
                        value: null,
                        default: "",
                        fieldName: "id",
                    }
                ]
            },
            objectUpdate: {
                url: "{% url 'api_private_doctor_specialization_update' %}?specialization=",
                fields: [
                    {
                        elementId: "#edit_doctor_specialization_place_of_residency",
                        fieldName: "place_of_residency"
                    },
                    {
                        elementId: "#edit_doctor_specialization_year_attained",
                        fieldName: "year_attained"
                    },
                    {
                        elementId: "#edit_related_entity_id",
                        fieldName: "id"
                    }
                ]
            },
            objectCreate: {
                url: "{% url 'api_private_doctor_specialization_create' %}",
                fields: [
                    {
                        elementId: "#doctor_specialization_place_of_residency",
                        fieldName: "place_of_residency"
                    },
                    {
                        elementId: "#doctor_specialization_year_attained",
                        fieldName: "year_attained"
                    },
                    {
                        elementId: "#entity_options",
                        fieldName: "specialization"
                    }
                ]
            },
            objectDelete: {
                url: "{% url 'api_private_doctor_specialization_delete' %}?specialization=",
            }
        }
    };


    // startup
    loadBaseEntity();
    loadRelatedEntity();
    populateLabels();

    /**************************************************************************
     * Events
     **************************************************************************/
    $("#btnRelatedEntityAdd").click(function(e){
        e.preventDefault();
        addRelatedEntity();
    });

    $("#btnEntityAdd").click(function(e){
        e.preventDefault();
        addBaseEntity();
    });

    $("#btnRelatedEntityReset").click(function(e){
        e.preventDefault();
        resetForm(model.relatedEntity.objectDetail.fields);
    });

    $("#btnConfirmRelatedEntityEdit").click(function(e){
        e.preventDefault();
        editRelatedEntity();

    });

    $("#related_entity_list").on('click', '.relatedEntityEdit', function(e){
        e.preventDefault();
        var relatedEntityId = $(this).attr("data-related-entity");
        loadRelatedEntityDetail(relatedEntityId);
    }).on('click', '.relatedEntityDelete', function(e){
        e.preventDefault();
        var relatedEntityId = $(this).attr("data-related-entity");
        deleteRelatedEntity(relatedEntityId);
    });


    /**************************************************************************
     * Functions
     **************************************************************************/

    function populateLabels(){
        $(".baseEntityDisplayName").html(model.baseEntity.displayName);
        $(".relatedEntityDisplayName").html(model.relatedEntity.displayName);
        $(".relatedEntityDisplayNamePlural").html(model.relatedEntity.displayNamePlural);

    }

    // base entity
    function loadBaseEntity(){
        $.get(model.baseEntity.objectList.url, function(response){
            model.baseEntity.objectList.data = response;
            populateBaseEntity();
        });
    }

    function populateBaseEntity(){
        // Populate options
        $(model.baseEntity.objectList.listElementId).find('option').remove().end();
        model.baseEntity.objectList.data.map(function (option) {
            var key = option[model.baseEntity.objectList.keyValuePair.key];
            var value = option[model.baseEntity.objectList.keyValuePair.value];
            var html = "<option value=" + key + ">" + value + "</option>";
            model.baseEntity.objectList.querySelector.insertAdjacentHTML("beforeend", html);
        });
    }

    function addBaseEntity() {
        var postData = {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        };

        for(var i in model.baseEntity.objectCreate.fields){
            postData[model.baseEntity.objectCreate.fields[i]["fieldName"]] = $(model.baseEntity.objectCreate.fields[i]["elementId"]).val();
        }

        postForm(model.baseEntity.objectCreate.url, postData, onSuccess=[loadBaseEntity]);
        $("#modalEntityCreate").modal('hide');
    }

    // related entity

    function loadRelatedEntity(){
        $.get(model.relatedEntity.objectList.url, function(response){
            model.relatedEntity.objectList.data = response;
            populateRelatedEntity();
        });
    }

    function populateRelatedEntity(){
        $(model.relatedEntity.objectList.listElementId).find('li').remove().end();
        for(var key in model.relatedEntity.objectList.data){

            var relatedEntityId = model.relatedEntity.objectList.data[key].id;

            /**
             * Edit this part
             */
            var title = '';
            if(model.relatedEntity.objectList.data[key]["specialization"]["practitioner_title"]){
                title = '<em>' + model.relatedEntity.objectList.data[key]["specialization"]["practitioner_title"] + '</em>';
            }
            var year_attained = '';
            if(model.relatedEntity.objectList.data[key].year_attained){
                year_attained = '(' + model.relatedEntity.objectList.data[key].year_attained + ')';
            }
            var description = title + ' <strong>' + model.relatedEntity.objectList.data[key]["specialization"]["name"] + '</strong><br>' +
                                model.relatedEntity.objectList.data[key].place_of_residency + year_attained;

            /**
             * /end
             */

            var html =
            '<li class="list-group-item">' +
                '<a class="float-right relatedEntityEdit btn-sm btn-warning" href="#!" data-related-entity="' + relatedEntityId +'">' +
                    '<i class="fas fa-edit"></i>' +
                '</a>' +
                '<a class="float-right relatedEntityDelete btn-sm btn-danger" href="#!" data-related-entity="' + relatedEntityId +'">' +
                    '<i class="fas fa-times"></i>' +
                '</a>' +
                description +
            '</li>';
            model.relatedEntity.objectList.querySelector.insertAdjacentHTML("beforeend", html);
        }
    }

    function loadRelatedEntityDetail(relatedEntityId){
        var url = model.relatedEntity.objectDetail.url + relatedEntityId;
        $.get(url).done(function(response){
            loadFormData(model.relatedEntity.objectUpdate.fields, response);
            $("#editRelatedEntity").modal('show');

        }).fail(function(jqXHR, textStatus, errorThrown){
            console.log(jqXHR);
        });
    }

    function deleteRelatedEntity(relatedEntityId) {
        var url = model.relatedEntity.objectDelete.url + relatedEntityId;
        $("#confirmRelatedEntityDelete").modal('show');
        $("#btnConfirmRelatedEntityDelete").click(function (e) {
            e.preventDefault();
            var postData = {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            };
            postForm(url, postData, onSuccess=[loadRelatedEntity, function(){loadProfileProgress($("#profile-progress-snippet"))}], onFail=[], failSilently=true);
            $("#confirmRelatedEntityDelete").modal('hide');
        });
    }

    function editRelatedEntity(){
        var postData = {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        };

        for(var i in model.relatedEntity.objectUpdate.fields){
            postData[model.relatedEntity.objectUpdate.fields[i]["fieldName"]] = $(model.relatedEntity.objectUpdate.fields[i]["elementId"]).val();
        }

        var relatedEntityId = $("#edit_related_entity_id").val();
        url = model.relatedEntity.objectUpdate.url + relatedEntityId;

        postForm(url, postData, onSuccess=[loadRelatedEntity]);
        resetForm(model.relatedEntity.objectUpdate.fields);
        $("#editRelatedEntity").modal('hide');
    }

    function addRelatedEntity(){
        var postData = {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        };

        for(var i in model.relatedEntity.objectCreate.fields){
            postData[model.relatedEntity.objectCreate.fields[i]["fieldName"]] = $(model.relatedEntity.objectCreate.fields[i]["elementId"]).val();
        }

        postForm(model.relatedEntity.objectCreate.url, postData, onSuccess=[
            loadRelatedEntity,
            function(){resetForm(model.relatedEntity.objectCreate.fields)},
            function(){loadProfileProgress($("#profile-progress-snippet"))}
        ]);
    }
</script>