<div id="modalAddLabTest" class="popup-modal popup-modal-wide card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="form-group mb-2">
                    <input type="text" class="form-control" placeholder="Search..." name="txtLabTestsearch" id="txtLabTestSearch">
                </div>
                <ul class="list-group list-group-flush" id="labtests-container"></ul>
            </div>
        </div>
    </div>
</div>