{% load static %}


<script type="text/javascript">
    var map = L.map('map');

    /**
     * data
     */

    model.top_coords = {
        dataSrc: "{% url 'api_public_medical_institution_top_coordinate_detail' %}?id={{ rel.medical_institution.id }}",
        fetch: function () {
            genericFetch('top_coords')
        },
        onReady: true,
        onSuccessResult: [
            updateMap
        ],
        onSuccess: [],
        container: $("#top-coords-vote-container"),
        template: $("#top-coords-vote-template"),
        actions: {
            vote_up: {
                fn: genericGetAction,
                apiConsumer: true,
                parameters: {
                    id: "data-pk",
                    triggerElement: ".top-coordinates-vote-up",
                    api: "{% url 'api_private_medical_institution_coordinate_vote_up' %}?",
                    onSuccess: ['top_coords', 'all_coords']
                }
            },
            vote_down: {
                fn: genericGetAction,
                apiConsumer: true,
                parameters: {
                    id: "data-pk",
                    triggerElement: ".top-coordinates-vote-down",
                    api: "{% url 'api_private_medical_institution_coordinate_vote_down' %}?",
                    onSuccess: ['top_coords', 'all_coords']
                }
            },
        }
    };
    model.all_coords = {
        dataSrc: "{% url 'api_public_medical_institution_coordinate_list' %}?id={{ rel.medical_institution.id }}",
        fetch: function () {
            genericFetch('all_coords')
        },
        onReady: true,
        onSuccessResult: [],
        onSuccess: [],
        container: $("#all-coords-vote-container"),
        template: $("#all-coords-vote-template"),
        actions: {
            vote_up: {
                fn: genericGetAction,
                apiConsumer: true,
                parameters: {
                    id: "data-pk",
                    triggerElement: ".coordinates-vote-up",
                    api: "{% url 'api_private_medical_institution_coordinate_vote_up' %}?",
                    onSuccess: ['top_coords', 'all_coords']
                }
            },
            vote_down: {
                fn: genericGetAction,
                apiConsumer: true,
                parameters: {
                    id: "data-pk",
                    triggerElement: ".coordinates-vote-down",
                    api: "{% url 'api_private_medical_institution_coordinate_vote_down' %}?",
                    onSuccess: ['top_coords', 'all_coords']
                }
            },
            map_focus: {
                fn: focusMap,
                apiConsumer: false,
                parameters: {
                    triggerElement: ".map-focus",
                    fnParams: ["data-lat", "data-lon"],
                }
            }
        }
    };
    model.top_address = {
        dataSrc: "{% url 'api_public_medical_institution_top_location_detail' %}?id={{ rel.medical_institution.id  }}",
        fetch: function () {
            genericFetch('top_address')
        },
        onReady: true,
        onSuccessResult: [],
        onSuccess: [],
        container: $("#top-address-container"),
        template: $("#top-address-template"),
        actions: {
            vote_up: {
                fn: genericGetAction,
                apiConsumer: true,
                parameters: {
                    id: "data-pk",
                    triggerElement: ".top-location-vote-up",
                    api: "{% url 'api_private_medical_institution_location_vote_up' %}?",
                    onSuccess: ["top_address", "all_addresses"]
                }
            },
            vote_down: {
                fn: genericGetAction,
                apiConsumer: true,
                parameters: {
                    id: "data-pk",
                    triggerElement: ".top-location-vote-down",
                    api: "{% url 'api_private_medical_institution_location_vote_down' %}?",
                    onSuccess: ["top_address", "all_addresses"]
                }
            },
        }
    };
    model.all_addresses = {
        dataSrc: "{% url 'api_public_medical_institution_location_list' %}?id={{ rel.medical_institution.id }}",
        fetch: function () {
            genericFetch('all_addresses')
        },
        onReady: true,
        onSuccessResult: [],
        onSuccess: [],
        container: $("#addresses-container"),
        template: $("#addresses-template"),
        actions: {
            vote_up: {
                fn: genericGetAction,
                apiConsumer: true,
                parameters: {
                    id: "data-pk",
                    triggerElement: '.location-vote-up',
                    api: "{% url 'api_private_medical_institution_location_vote_up' %}?",
                    onSuccess: ["top_address", "all_addresses"]
                }
            },
            vote_down: {
                fn: genericGetAction,
                apiConsumer: true,
                parameters: {
                    id: "data-pk",
                    triggerElement: '.location-vote-down',
                    api: "{% url 'api_private_medical_institution_location_vote_down' %}?",
                    onSuccess: ["top_address", "all_addresses"]
                },
            }
        }
    };


    /**
     * methods
     */


    /**
     * events
     */
    $("#submit-address-form").submit(function (e) {
        e.preventDefault();
        var url = "{% url 'api_private_medical_institution_location_create' %}?id={{ rel.medical_institution.pk }}";
        var formData = {
            address: $("#id_address").val(),
            region: $("#id_region").val(),
            province: $("#id_province").val(),
            city: $("#id_city").val(),
            zip_code: $("#id_zip_code").val(),
            csrfmiddlewaretoken: '{{ csrf_token }}'
        };

        $.post(url, formData)
            .done(function (result) {
                var all_addresses_modal = $("#all-addresses-modal");
                all_addresses_modal.modal('hide');
                $("#submit-address-modal").modal('hide');
                all_addresses_modal.modal('show');
                $.notify({
                    message: "Location added!"
                }, {
                    type: 'success'
                });
                updateState(model.top_address);
                updateState(model.all_addresses);
                updateState(model.top_coords);
                updateState(model.all_coords);
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                $.notify({
                    message: jqXHR.responseJSON
                }, {
                    type: 'danger'
                });
            });

    });

    $(document).ready(function () {

        bootUp(model);

        var region_id = null;
        var province_id = null;

        function load_provinces(region) {
            var provinces_url = "{% url 'api_location_provinces_of_region' %}?region=" + region;
            if (region) {
                $.get(provinces_url, function (provincesResult) {
                    $("#id_province").loadTemplate("#provinces-template", provincesResult);
                    province_id = provincesResult[0].id;
                    load_cities(province_id);
                });
            }
        }

        function load_cities(province) {
            var cities_url = "{% url 'api_location_cities_of_province' %}?province=" + province;
            if (province) {
                $.get(cities_url, function (citiesResult) {
                    $("#id_city").loadTemplate("#cities-template", citiesResult);
                });
            }
        }

        $("#id_region").on('change', function (regionChange) {
            region_id = $(this).val();
            load_provinces(region_id);
        });
        $("#id_province").on('change', function (provinceChange) {
            province_id = $(this).val();
            load_cities(province_id);
        });

    });


    /********************************************************************************
     *  mapping
     *********************************************************************************/

    /**
     * methods
     */

    function getGeoLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(drawGeolocation);
        } else {
            $.notify({
                message: "Your browser doesn't support geolocation!"
            }, {
                type: 'danger'
            });
        }
    }

    function updateMap(result) {
        try {
            var lat = parseFloat(result.coordinates.lat);
            var lon = parseFloat(result.coordinates.lon);
            focusMap({"data-lat": lat, "data-lon": lon});
        } catch (err) {
            $.notify({
                message: "We couldn't find coordinates for the address given"
            }, {
                type: 'warning'
            });
            getGeoLocation();
        }

    }

    function focusMap(coords) {
        var lat = parseFloat(coords["data-lat"]);
        var lon = parseFloat(coords["data-lon"]);
        drawMap(lat, lon);
        updateLatLonInputs(lat, lon);
        addMarker(lat, lon, "{{ rel.medical_institution }}");
    }

    function drawGeolocation(position) {
        drawMap(position.coords.latitude, position.coords.longitude);
        updateLatLonInputs(position.coords.latitude, position.coords.longitude);
        addMarker(position.coords.latitude, position.coords.longitude);
    }

    function drawMap(lat, lon) {

        var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var osmAttrib = 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors';
        var osm = new L.TileLayer(osmUrl, {minZoom: 7, maxZoom: 19, attribution: osmAttrib});

        map.setView(new L.LatLng(lat, lon), 18);
        map.addLayer(osm);
    }

    function updateLatLonInputs(lat, lon) {
        $("#geoloc-lat").val(lat);
        $("#geoloc-lon").val(lon);
    }

    function addMarker(lat, lon, title = false) {
        if (title) {
            markerTitle = title;
        } else {
            markerTitle = lat + ', ' + lon;
        }
        L.marker(
            [lat, lon],
            {
                title: markerTitle,
            },
        ).addTo(map);
    }

    function geolocate(address) {
        var nominatim = 'https://nominatim.openstreetmap.org/search?format=json&addressdetials=1&limit=1&q=' + address;
        $.get(nominatim)
            .done(function (result) {

                if (result.length > 0) {
                    var location = result[0];
                    drawMap(location.lat, location.lon);
                    updateLatLonInputs(location.lat, location.lon);
                    addMarker(location.lat, location.lon, location.display_name);
                    $.notify({
                        message: location.display_name + " fetched!"
                    }, {
                        type: 'success'
                    });
                } else {
                    $.notify({
                        message: "We couldn't find " + address
                    }, {
                        type: 'danger'
                    });
                }

            })
            .fail(function (result) {
                console.log(result);
            });
    }

    /**
     * UI events
     */

    $("#map-geoloc").on('submit', function (e) {
        e.preventDefault();
        var addressQuery = $("#geoloc-address").val();
        if (addressQuery.trim()) {
            $.notify({
                message: "Fetching location..."
            }, {
                type: 'info'
            });
            geolocate(addressQuery);

        }
    });
    map.on('click', function (e) {
        var lat = e.latlng.lat;
        var lon = e.latlng.lng;

        updateLatLonInputs(lat, lon)

        L.marker(
            [lat, lon],
            {
                title: lat + ', ' + lon,
            },
        ).addTo(map);
    });

    $("#btnAddCoordinates").on('click', function (e) {
        e.preventDefault();
        var lat = $("#geoloc-lat").val();
        var lon = $("#geoloc-lon").val();

        var formData = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            lat: lat,
            lon: lon
        }

        var url = "{% url 'api_private_medical_institution_coordinate_create' %}?id={{ rel.medical_institution.id }}";
        $.post(url, formData)
            .done(function (result) {
                updateState(model.top_coords);
                updateState(model.all_coords);
                $.notify({
                    message: result
                }, {
                    type: 'success'
                });
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            });
    });


</script>