<script type="text/html" id="patients-template">
    <div class="item">
        <div class="image" data-template-bind='[{
                "attribute": "style",
                "value": "profile_photo_css"
            }]'>

        </div>
        <div class="info">
            <p>
                <a data-href="patient_detail_url">
                    <span class="info-name" data-content="full_name"></span>
                </a>
                <br>
                <span data-content="gender.name"></span>
                <br>
                <span data-content="date_of_birth"></span>
                <br>
                Prior Visits: <span data-content="prior_visits"></span>
            </p>
        </div>
    </div>
</script>