<div class="connections__content mb-4 mt-0 pt-0 no-shadow">
    <h4 class="h6">Schedules</h4>        
    {% if profile.get_schedules %}
        <div class="row no-gutters">
            {% for schedule in profile.get_schedules %}
                <div class="no-shadow col-sm-12 col-md-6 mb-3">
                    <div class="info">
                        <h6 class="h6">
                            <a href="{% url 'doctor_profile_medical_institution_home' schedule.medical_institution.slug %}">
                                {{ schedule.medical_institution }}
                            </a>
                        </h6>
                        <ul>
                            <li>
                                <strong>{{ schedule.split_days }}</strong>:
                                        {{ schedule.start_time.format_12 }} to {{ schedule.end_time.format_12 }} <br>
                                <small>
                                ({{ schedule.start_date.nice_name }}
                                to
                                {{ schedule.end_date.nice_name }})
                                </small>
                            </li>
                        </ul>
                        <div class="card-actions>

                            <a href="{% url 'doctor_profile_schedule_detail' schedule.medical_institution.slug %}">
                                <i class="fa fa-list"></i> Go to Queue
                            </a>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="item no-shadow">
            <div class="info">
                <h6 class="h6"><em>You have no schedules</em></h6>
            </div>
        </div>

    {% endif %}
</div>
