<div class="connections__content">
    <h4 class="h6">Schedules</h4>
        <div class="item">
            <div class="info">
                <ul>
                    {% for schedule in profile.get_schedules %}
                        <li>
                            {{ schedule }}
                        </li>
                <div class="btn-group btn-group-sm">
                        <a href="{% url 'doctor_profile_calendar' %}">Calendar</a>
                        <a href="{% url 'doctor_profile_schedule_detail' schedule.medical_institution.slug %}">Queue</a>
                        <a href="{% url 'doctor_profile_medical_institution_schedule_list' schedule.medical_institution.slug %}">Update Schedule</a>
                        </a>
                </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
</div>