    <div class="header">
        <h4 class="h6">My Medical Institutions</h4>
    </div>

    <div class="hospital-list__container">
    {% for mi in profile.get_medical_institutions %}
        {% if mi %}
            <div class="hospital-list__item-wrapper">
                <div class="hospital-list__item">
                    <h6 class="h6">
                        <a href="{% url 'doctor_profile_medical_institution_home' mi.slug %}">{{ mi }}</a>
                    </h6>
                    <p>{{ mi.address.address }}</p>
                </div>
            </div>
        {% else %}
            <div class="hospital-list__item-wrapper">
                <div class="hospital-list__item">
                    <h6><em>You are not connected to any medical institutions</h6></em>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
