    <div class="header">
        <h4 class="h6">My Medical Institutions</h4>
    </div>

    <div class="hospital-list__container">
    {% if profile.get_medical_institutions %}
    {% for mi in profile.get_medical_institutions %}
        <div class="hospital-list__item-wrapper">
            <div class="hospital-list__item">
                <h6 class="h6">
                    <a href="{% url 'doctor_profile_medical_institution_home' mi.slug %}">{{ mi }}</a>
                </h6>
                <p>{{ mi.address.address }}</p>
            </div>
        </div>
    {% endfor %}
    {% else %}
        <div class="hospital-list__item-wrapper">
            <div class="hospital-list__item">
                <h6 class="h6"><em>You are not connected to any medical institutions</em></h6>
            </div>
        </div>
    {% endif %}
    </div>
