{% if profile.get_schedules %}
<div class="connections__content mb-4 no-shadow">
    <h4 class="h6">Schedules</h4>        
     {% for schedule in profile.get_schedules %}
        <div class="item no-shadow">
            <div class="info">
                <h5 class="h5">
                    <a href="{% url 'doctor_profile_medical_institution_home' mi.slug %}">
                        {{ schedule.medical_institution }}
                    </a>
                </h5>
            <ul>
                <li>
                    <strong>{{ schedule.split_days }}</strong>:
                            {{ schedule.start_time.format_12 }} to {{ schedule.end_time.format_12 }} <br>
                    <small>
                    ({{ schedule.start_date.nice_name }}
                    to 
                    {{ schedule.end_date.nice_name }})
                    </small>
                </li>
            </ul>
            <div class="btn-group btn-group-sm mb-2">
                <a class="btn btn-sm btn-outline-info" href="{% url 'doctor_profile_calendar' %}">
                    <i class="fa fa-calendar"></i> Calendar
                </a>
                <a class="btn btn-sm btn-outline-primary" href="{% url 'doctor_profile_schedule_detail' schedule.medical_institution.slug %}">
                    <i class="fa fa-list"></i> Queue
                </a>
                <a class="btn btn-sm btn-outline-warning" href="{% url 'doctor_profile_medical_institution_schedule_list' schedule.medical_institution.slug %}">
                    <i class="fa fa-edit"></i>
                        Update Schedule
                </a>
            </div>
        </div>
    </div>
        {% endfor %}
</div>
{% endif %}
