{% load static %}
<div class="two-column__right--settings">
    <div class="header">
        <h3 class="h5">{{ page_title }}</h3>
    </div>
    <div class="subcontent__wrapper" id="map-section">
        {% include 'neo/medical_institutions/location/common/template/medical_institution_location.template.html' %}
    </div>
</div>

<div class="two-column__right--settings">
    <div class="header mt-2">
        <h4 class="h5">Connections</h4>
    </div>
    <div class="subcontent__wrapper" id="connections-section">
        {% include 'neo/doctor_profiles/medical_institutions/sections/manage_connections/receptionist/template/receptionist.main.html' %}
        {% include 'neo/doctor_profiles/medical_institutions/sections/manage_connections/receptionist/template/receptionist.modals.html' %}
        {% include 'neo/doctor_profiles/medical_institutions/sections/manage_connections/receptionist/template/receptionist.templates.html' %}
    </div>
</div>

<div class="two-column__right--settings">
    <div class="header mt-2">
        <h4 class="h5">Schedule</h4>
    </div>
    <div class="subcontent__wrapper" id="schedule-section">
        {% include 'neo/doctor_profiles/medical_institutions/sections/manage_connections/schedule/template/schedule.main.html' %}
        {% include 'neo/doctor_profiles/medical_institutions/sections/manage_connections/schedule/template/schedule.modals.html' %}
        {% include 'neo/doctor_profiles/medical_institutions/sections/manage_connections/schedule/template/schedule.templates.html' %}
    </div>
</div>