<div class="card-header">
    <h4 class="h6">Prescriptions</h4>
</div>
<div class="card-body">
    <div class="info clearfix" id="prescriptions-container">

    </div>
    <p class="mt-3 p-0">
        <a class="text-muted modalDismissedPrescriptions_open" href="#!" id="btnDismissedPrescriptions">Dismissed prescriptions</a>
    </p>
    <hr>

    <div class="form-group">
        <label for="txtMedicineSearch">Search for medicine/drug</label>
        <input type="text" class="form-control" id="txtMedicineSearch" name="txtMedicineSearch"
               placeholder="Search...">
        <ul class="list-group list-group-flush">
        </ul>
    </div>
    <p>Can't find the medicine/drug you want? <a href="#!" id="btnAddMedicinesModal" class="modalAddMedicine_open">Add a new medicine</a>.</p>
    <ul class="list-group" id="medicines-list-container"></ul>
</div>