<div id="modalAddMedicine" class="popup-modal popup-modal-wide card">
    <div class="card-header">
        <h4 class="h4">Add a medicine/drug</h4>
    </div>
    <div class="card-body">

    </div>
</div>

<div id="modalPrescriptionDetail" class="popup-modal card">
    <div class="card-body">
        <h5 class="h5" id="modalPrescriptionDetailTitle"></h5>
        <hr>

        <h6 class="h6">Description</h6>
        <div id="modalPrescriptionDetailDescription"></div>
        <hr>

        <h6 class="h6">Common diagnoses</h6>
        <div id="modalPrescriptionDetailCommonDiagnoses">
            <div class="alert alert-secondary">Feature coming soon</div>
        </div>
    </div>
</div>

<div id="modalDismissedPrescriptions" class="popup-modal card">
    <div class="card-body">
        <h5 class="h5">Dismissed prescriptions</h5>
        <ul id="dismissed-prescriptions-container" class="list-group list-group-flush"></ul>
    </div>
</div>