{% load static %}
<div class="card">
    <div class="card-body">
        <h5 class="h5">My Receptionists</h5>
        <div id="my_receptionists_container"></div>

        <hr>
        <h5 class="h5">All Receptionists</h5>
        <div id="all_receptionists_container"></div>
    </div>
    <div class="card-footer">
        <div class="btn-group btn-group-sm">
            <a class="btn btn-outline-primary" href="#!" id="btnCreateReceptionist" data-toggle="modal" data-target="#modalCreateReceptionist">
                <i class="fa fa-plus"></i>
                Create a Receptionist profile
            </a>
        </div>
    </div>
</div>