{% load static %}
<script type="text/html" id="all_receptionists_template">
    <div class="col-sm-4 col-md-4 col-lg-3 mb-2">
        <div class="card receptionist-card-compressed">
            <img class="card-img-top img-fluid" data-src="profile_photo.photo" data-alt="username">
            <div class="card-body">
                <p>
                    <span data-content="first_name"></span>
                    <span data-content="last_name"></span>
                </p>
                <a class="card-action connect-receptionist" href="#!" data-doctor-id="{{ rel.doctor.id }}" data-institution-id="{{ rel.medical_institution.id }}" data-template-bind='[{"attribute": "data-receptionist-id", "value": "receptionist.id"}]'>
                    Connect
                </a>
            </div>

        </div>
    </div>
</script>

<script type="text/html" id="my_receptionists_template">
    <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
        <div class="card receptionist-card">
            <img class="card-img-top img-fluid" data-src="profile_photo.photo" data-alt="username">
            <div class="card-body">
                <h6>
                    <span data-content="first_name"></span>
                    <span data-content="last_name"></span>
                </h6>
                <a class="card-action remove-receptionist" href="#!" data-doctor-id="{{ rel.doctor.id }}" data-institution-id="{{ rel.medical_institution.id }}" data-template-bind='[{"attribute": "data-receptionist-id", "value": "receptionist.id"}]'>
                    Remove
                </a>
            </div>

        </div>
    </div>
</script>