<script type="text/html" id="my_schedules_template">
    <h5 class="h5" data-content="days_split"></h5>
    <div class="row">
        <div class="col-sm-6 col-md-3 mb-1">
            <div class="schedule-item">
                <div class="schedule-label schedule-start">
                    <i class="fa fa-calendar"></i> Start
                </div>
                <div class="schedule-value">
                    <span data-content="start_date.date_obj"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-1">
            <div class="schedule-item">
                <div class="schedule-label schedule-end">
                    <i class="fa fa-calendar"></i> End
                </div>
                <div class="schedule-value">
                    <span data-content="end_date.date_obj"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-1">
            <div class="schedule-item">
                <div class="schedule-label schedule-start">
                    <i class="fa fa-clock"></i> Start
                </div>
                <div class="schedule-value">
                    <span data-content="start_time.format_12"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-1">
            <div class="schedule-item">
                <div class="schedule-label schedule-end">
                    <i class="fa fa-clock"></i> End
                </div>
                <div class="schedule-value">
                    <span data-content="end_time.format_12"></span>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-1">
    <div class="btn-group btn-group-sm">
        <a class="btn btn-outline-danger btn-sm delete-schedule" data-template-bind='[{"attribute": "data-schedule-id", "value": "id"}]' href="#!">
            <i class="fa fa-times"></i> Delete
        </a>
    </div>
    <hr class="my-3">
</script>
<script type="text/html" id="schedule_errors_template">
    <div class="alert alert-danger my-1">
        <h6>Conflicts with schedule at <span data-content="medical_institution.name"></span></h6>
        <p>
            <strong><span data-content="day.day_name"></span>, <span data-content="day.date_obj"></span></strong>:
            <span data-content="start_time.format_12"></span> to
            <span data-content="end_time.format_12"></span>
        </p>
    </div>
</script>