<script type="text/html" id="my_schedules_template">
    <h5 class="h5" data-content="days_split"></h5>
    <div class="row">
        <div class="col-sm-6 col-md-3 mb-1">
            <div class="schedule-item">
                <div class="schedule-label schedule-start">
                    <i class="fa fa-calendar"></i> Start
                </div>
                <div class="schedule-value">
                    <span data-content="start_date.date_obj"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-1">
            <div class="schedule-item">
                <div class="schedule-label schedule-end">
                    <i class="fa fa-calendar"></i> End
                </div>
                <div class="schedule-value">
                    <span data-content="end_date.date_obj"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-1">
            <div class="schedule-item">
                <div class="schedule-label schedule-start">
                    <i class="fa fa-clock"></i> Start
                </div>
                <div class="schedule-value">
                    <span data-content="start_time.format_12"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-1">
            <div class="schedule-item">
                <div class="schedule-label schedule-end">
                    <i class="fa fa-clock"></i> End
                </div>
                <div class="schedule-value">
                    <span data-content="end_time.format_12"></span>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-1">
    <div class="btn-group btn-group-sm">

    </div>
    <hr class="my-3">
</script>