<script type="text/javascript">
    var btnAddFindingsModal = $("#btnAddFindingsModal");
    var modalSaveFinding = $("#modalSaveFinding");
    var modalFindingDetail = $("#modalFindingDetail");
    var modalDismissedFindings = $("#modalDismissedFindings");
    var frmSaveFinding = $("#frmSaveFinding");
    var txtFindingSearch = $("#txtFindingSearch");

    $(document).ready(function () {
        loadFindings();
        modalFindingDetail.popup({
            autozindex: true,
            scrolllock: true
        });
        modalDismissedFindings.popup({
            autozindex: true,
            scrolllock: true
        });

        btnAddFindingsModal.on('click', function (e) {
            e.preventDefault();

            modalSaveFinding.modal('show');
        });

        frmSaveFinding.on('submit', function (e) {
            e.preventDefault();
            saveFinding();
        });

        txtFindingSearch.on('keydown', function(e){
            searchFindings();
        });

    });

    function loadFindings(){
        var url = "{% url 'api_private_appointment_finding_list' %}?checkup_id={{ checkup.id }}";
        $.get(url)
            .done(function(result){
                console.log(result);
                $("#findings-container").loadTemplate($("#findings-template"), result);

                $(".finding-detail").on('click', function(e){
                    e.preventDefault();
                    console.log($(this).attr("data-finding-name"));
                    $("#modalFindingDetailTitle").html($(this).attr("data-finding-name"));
                    $("#modalFindingDetailDescription").html($(this).attr("data-finding-description"));
                });

                $(".remove-finding").on('click', function(e){
                    e.preventDefault();
                    var finding_id = $(this).attr("data-finding-id");
                    removeFinding(finding_id);
                });
            });

        var dismissed_url = "{% url 'api_private_appointment_finding_dismissed_list' %}?checkup_id={{ checkup.id }}";
        $.get(dismissed_url)
            .done(function(result){
                $("#dismissed-findings-container").loadTemplate($("#dismissed-findings-template"), result);
            })
    }

    function searchFindings() {
        var term = txtFindingSearch.val();
        var url = "{% url 'api_public_findings_list' %}?s=" + term;
        if (term.length >= 2) {
            $.get(url)
                .done(function(result){

                    $("#findings-list-container").loadTemplate($("#findings-list-template"), result);

                    $(".add-finding").on('click', function(e){
                        e.preventDefault();
                        var finding_id = $(this).attr("data-finding-id");
                        addFinding(finding_id);

                    });
                })
                .fail(function(result){
                    console.log(result);
                });
        }else{
            $("#findings-list-container").html('');
        }
    }

    function addFinding(finding_id){
        var url = "{% url 'api_private_appointment_finding_create' %}";
        var formData = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            checkup: '{{ checkup.id }}',
            finding: finding_id
        };

        $.post(url, formData)
            .done(function(result){
                loadFindings();
                $.notify({
                    message: "Finding added!"
                }, {
                    type: "success"
                })
            })
            .fail(function(result){
                if(result.status === 409){
                    $.notify({
                        message: result.responseText
                    }, {
                        type: "danger"
                    });
                }else{
                    $.notify({
                        message: "That finding has already been added! If you don't see it, check the dismissed list."
                    }, {
                        type: "danger"
                    });
                }
            })
    }

    function removeFinding(finding_id){
        var url = "{% url 'api_private_appointment_finding_delete' %}?id=" + finding_id + "&checkup_id={{ checkup.id }}";
        var formData = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
        };

        $.post(url, formData)
            .done(function (result) {
                loadFindings();
                $.notify({
                    message: "Finding removed!"
                }, {
                    type: 'success'
                });
            });
    }

    function saveFinding() {
        var url = "{% url 'api_private_finding_create' %}";
        var formData = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            name: $("#id_finding_name").val(),
            description: $("#id_finding_description").val()
        };

        $.post(url, formData)
            .done(function (result) {
                addFinding(result.id);
                $.notify({
                    message: "Finding created!"
                }, {
                    type: 'success'
                });
            });
        modalSaveFinding.modal('hide');
    }
</script>