<script type="text/javascript">
    var labtests_container = $("#labtests-container");
    var labtests_template = $("#labtests-template");
    var labtests_loader = $("#labtests-wrapper .donut-spinner");
    var modalAddLabTest = $("#modalAddLabTest");
    var btnAddLabTestPatient = $("#btnAddLabTestPatient");
    var patient_labtests_container = $("#patient-labtests-container");
    var patient_labtests_template = $("#patient-labtests-template");
    var modalLabTestRequestDetail = $("#modalLabTestRequestDetail");
    var modalDismissedLabtests = $("#modalDismissedLabtests");

    var txtLabTestsearch = $("#txtLabTestsearch");
    $(document).ready(function () {
        loadLabTests('');
        loadPatientLabTests();
        modalAddLabTest.popup({
            autozindex: true,
            scrolllock: true
        });
        modalLabTestRequestDetail.popup({
            autozindex: true,
            scrolllock: true
        });
        modalDismissedLabtests.popup({
            autozindex: true,
            scrolllock: true
        });


        txtLabTestsearch.on('keyup', function (e) {
            var term = $(this).val();
            console.log(term);
            loadLabTests(term);
        });

        btnAddLabTestPatient.on('click', function (e) {
            var labtest_id = $(this).attr("data-labtest-id");
            addLabTest(labtest_id);
        });
    });

    function addLabTest(labtest_id) {
        var url = "{% url 'api_private_patient_labtest_create' %}";
        var formData = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            checkup: '{{ checkup.id }}',
            lab_test: labtest_id
        };

        $.post(url, formData)
            .done(function (result) {
                loadPatientLabTests();
                modalAddLabTest.popup('hide');
            })
            .fail(function (result) {
                modalAddLabTest.popup('hide');
                if (result.status === 409) {
                    $.notify({
                        message: result.responseText
                    }, {
                        type: "danger"
                    });
                } else {
                    $.notify({
                        message: "That lab test has already been requested! If you don't see it, check the dismissed list."
                    }, {
                        type: "danger"
                    });
                }
            })
    }

    function loadPatientLabTests() {
        var url = "{% url 'api_private_patient_labtest_list' %}?checkup_id={{ checkup.id }}";
        $.get(url)
            .done(function (result) {
                patient_labtests_container.loadTemplate(patient_labtests_template, result);
                $(".patient-labtest-detail").on('click', function (e) {
                    e.preventDefault();
                    $("#modalLabTestRequestDetail_title").html($(this).attr("data-labtest-name"));
                    $("#modalLabTestRequestDetail_description").html($(this).attr("data-labtest-description"));
                });

                $(".remove-lab_test").on('click', function (e) {
                    e.preventDefault();
                    var labtest_id = $(this).attr("data-lab_test-id");
                    removeLabTest(labtest_id);
                })
            })
            .fail(function (result) {
                console.log(fail);
            });

        var dismissed_url = "{% url 'api_private_patient_labtest_dismissed_list' %}?checkup_id={{ checkup.id }}";
        $.get(dismissed_url)
            .done(function (result) {
                $("#dismissed-labtests-container").loadTemplate($("#dismissed-labtests-template"), result);
                console.log(result);
                $(".undismiss-labtest").on('click', function (e) {
                    e.preventDefault();
                    var labtest_id = $(this).attr("data-labtest-id");
                    undismissLabTest(labtest_id);
                });
            })
    }


    function loadLabTests(term) {
        labtests_loader.removeClass('hide');
        var url = "{% url 'api_public_labtest_list' %}";
        if (term.length >= 2) {
            url = url + "?s=" + term;
        }
        if (term.length >= 3 || term.length === 0) {
            $.get(url)
                .done(function (result) {
                    console.log(result);
                    labtests_loader.addClass('hide');
                    labtests_container.loadTemplate(labtests_template, result);

                    $('.labtest-item').on('click', function (e) {
                        e.preventDefault();
                        var labtest_id = $(this).attr("data-labtest-id");
                        $.each(result, function (i, item) {
                            if (parseInt(labtest_id) === item.id) {
                                $("#modalAddLabTestDescriptionPane").removeClass("hide");
                                $("#modalAddLabTest_title").html(item.name);
                                $("#modalAddLabTest_description").html(item.description);
                                $("#modalAddLabTest_purpose").html(item.purpose);
                                $("#modalAddLabTest_indication").html(item.indication);
                                $("#modalAddLabTest_notes").html(item.notes);
                                $("#btnAddLabTestPatient").attr("data-labtest-id", item.id);
                            }

                        });

                    });
                })
                .fail(function (result) {
                    console.log(result);
                });
        }
    }

    function removeLabTest(labtest_id) {
        var url = "{% url 'api_private_appointment_labtest_delete' %}?id=" + labtest_id + "&checkup_id={{ checkup.id }}";
        var formData = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
        };

        $.post(url, formData)
            .done(function (result) {
                loadPatientLabTests();
                $.notify({
                    message: "Lab Test Request removed!"
                }, {
                    type: 'success'
                });
            });
    }

    function undismissLabTest(labtest_id) {
        var url = "{% url 'api_private_appointment_labtest_undismiss' %}?id=" + labtest_id + "&checkup_id={{ checkup.id }}";
        var formData = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
        };

        $.post(url, formData)
            .done(function (result) {
                loadPatientLabTests();
                $.notify({
                    message: "Lab Test Request returned!"
                }, {
                    type: 'success'
                });
            });
    }
</script>