{% extends 'neo/doctor_profiles/patient/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header_css %}

{% endblock %}
{% block header_js %}
{% endblock %}

{% block subcontent %}
    {% include 'neo/doctor_profiles/patient/sections/template/basic_info/main.html' %}

    {% include 'neo/doctor_profiles/patient/sections/template/next_steps/main.html' %}
    {% include 'neo/doctor_profiles/patient/sections/template/next_steps/modals.html' %}
    {% include 'neo/doctor_profiles/patient/sections/template/next_steps/template.html' %}

    <div class="card-group">
        <div class="card">
            {% include 'neo/doctor_profiles/patient/sections/template/symptoms/main.html' %}
            {% include 'neo/doctor_profiles/patient/sections/template/symptoms/modals.html' %}
            {% include 'neo/doctor_profiles/patient/sections/template/symptoms/template.html' %}
        </div>
        <div class="card">
            {% include 'neo/doctor_profiles/patient/sections/template/findings/main.html' %}
            {% include 'neo/doctor_profiles/patient/sections/template/findings/modals.html' %}
            {% include 'neo/doctor_profiles/patient/sections/template/findings/template.html' %}
        </div>
        <div class="card">
            {% include 'neo/doctor_profiles/patient/sections/template/diagnoses/main.html' %}
            {% include 'neo/doctor_profiles/patient/sections/template/diagnoses/modals.html' %}
            {% include 'neo/doctor_profiles/patient/sections/template/diagnoses/template.html' %}
        </div>
    </div>
    <div class="card-group">
        <div class="card">
            {% include 'neo/doctor_profiles/patient/sections/template/labtests/main.html' %}
            {% include 'neo/doctor_profiles/patient/sections/template/labtests/modals.html' %}
            {% include 'neo/doctor_profiles/patient/sections/template/labtests/template.html' %}
        </div>
        <div class="card">
            {% include 'neo/doctor_profiles/patient/sections/template/prescriptions/main.html' %}
            {% include 'neo/doctor_profiles/patient/sections/template/prescriptions/modals.html' %}
            {% include 'neo/doctor_profiles/patient/sections/template/prescriptions/template.html' %}
        </div>
    </div>
    <div class="card-group">
        <div class="card">
            {% include 'neo/doctor_profiles/patient/sections/template/notes/main.html' %}
            {% include 'neo/doctor_profiles/patient/sections/template/notes/modals.html' %}
            {% include 'neo/doctor_profiles/patient/sections/template/notes/template.html' %}
        </div>
    </div>
{% endblock %}

{% block home_scripts %}
    {% block inner_scripts %}
        <script type="text/javascript"
                src="{% static '3rd-party/jquery-template/jquery.loadTemplate.min.js' %}"></script>
        {% include 'neo/doctor_profiles/patient/sections/js/basic_info.js.html' %}
        {% include 'neo/doctor_profiles/patient/sections/js/next_steps.js.html' %}
        {% include 'neo/doctor_profiles/patient/sections/js/symptoms.js.html' %}
        {% include 'neo/doctor_profiles/patient/sections/js/findings.js.html' %}
        {% include 'neo/doctor_profiles/patient/sections/js/diagnoses.js.html' %}
        {% include 'neo/doctor_profiles/patient/sections/js/labtests.js.html' %}
        {% include 'neo/doctor_profiles/patient/sections/js/prescriptions.js.html' %}
        {% include 'neo/doctor_profiles/patient/sections/js/notes.js.html' %}
    {% endblock %}
{% endblock %}