{% extends 'neo/doctor_profiles/patient/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header_css %}

{% endblock %}
{% block header_js %}
{% endblock %}

{% block subcontent %}
    {% include 'neo/doctor_profiles/patient/sections/template/basic_info/main.html' %}

    {% include 'neo/doctor_profiles/patient/sections/template/next_steps/main.html' %}
    {% include 'neo/doctor_profiles/patient/sections/template/next_steps/modals.html' %}
    {% include 'neo/doctor_profiles/patient/sections/template/next_steps/template.html' %}

    <div class="connections__content">
        <div class="header">
            <h4 class="h4">
                {{ page_title }}
            </h4>
            <div class="body py-3">
                <div class="card-group">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="h5">Symptoms</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                {% for i in appointment.get_symptoms %}
                                    <li class="list-group-item">
                                        {{ i.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                            <hr>
                            <h6 class="h6">Dismissed Symptoms</h6>
                            <ul class="list-group">
                                {% for i in appointment.get_deleted_symptoms %}
                                    <li class="list-group-item">
                                        {{ i.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h5 class="h5">Findings</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                {% for i in appointment.get_findings %}
                                    <li class="list-group-item">
                                        {{ i.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                            <hr>
                            <h6 class="h6">Dismissed Findings</h6>
                            <ul class="list-group">
                                {% for i in appointment.get_deleted_findings %}
                                    <li class="list-group-item">
                                        {{ i.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h5 class="h5">Diagnoses</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                {% for i in appointment.get_diagnoses %}
                                    <li class="list-group-item">
                                        {{ i.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                            <hr>
                            <h6 class="h6">Dismissed Diagnoses</h6>
                            <ul class="list-group">
                                {% for i in appointment.get_deleted_diagnoses %}
                                    <li class="list-group-item">
                                        {{ i.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block home_scripts %}
    {% block inner_scripts %}
        <script type="text/javascript"
                src="{% static '3rd-party/jquery-template/jquery.loadTemplate.min.js' %}"></script>
        {% include 'neo/doctor_profiles/patient/sections/js/basic_info.js.html' %}
        {% include 'neo/doctor_profiles/patient/sections/js/next_steps.js.html' %}
    {% endblock %}
{% endblock %}