{% extends 'neo/doctor_profiles/patient/base.html' %}
{% load static %}
{% load humanize %}

{% block header_css %}

{% endblock %}
{% block header_js %}
{% endblock %}

{% block subcontent %}
    {% include 'neo/doctor_profiles/patient/sections/template/basic_info/main.html' %}

    {% include 'neo/doctor_profiles/patient/sections/template/next_steps/main.html' %}
    {% include 'neo/doctor_profiles/patient/sections/template/next_steps/modals.html' %}
    {% include 'neo/doctor_profiles/patient/sections/template/next_steps/template.html' %}

    <div class="connections__content">
        <div class="header">
            <h4 class="h4">
                {{ page_title }}
            </h4>
            <div class="body py-3">
                <div class="card-group">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Symptoms</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                {% for i in appointment.get_symptoms %}
                                    <li class="list-group-item">
                                        {{ i.symptom.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                            <hr>
                            <h6 class="h6">Dismissed Symptoms</h6>
                            <ul class="list-group">
                                {% for i in appointment.get_deleted_symptoms %}
                                    <li class="list-group-item">
                                        {{ i.symptom.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Findings</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                {% for i in appointment.get_findings %}
                                    <li class="list-group-item">
                                        {{ i.finding.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                            <hr>
                            <h6 class="h6">Dismissed Findings</h6>
                            <ul class="list-group">
                                {% for i in appointment.get_deleted_findings %}
                                    <li class="list-group-item">
                                        {{ i.finding.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Diagnoses</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                {% for i in appointment.get_diagnoses %}
                                    <li class="list-group-item">
                                        {{ i.diagnosis.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                            <hr>
                            <h6 class="h6">Dismissed Diagnoses</h6>
                            <ul class="list-group">
                                {% for i in appointment.get_deleted_diagnoses %}
                                    <li class="list-group-item">
                                        {{ i.diagnosis.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-group">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Prescriptions</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                {% for i in appointment.get_prescriptions %}
                                    <li class="list-group-item">
                                        <a href="#!" class="modalDrugDetail-{{ i.drug.id }}_open">
                                            {{ i.drug.name }}
                                        </a>
                                    </li>

                                    <div id="modalDrugDetail-{{ i.drug.id }}" class="popup-modal card">
                                        <div class="card-header">
                                            <h5 class="card-title">{{ i.drug.name }}</h5>
                                        </div>
                                        <div class="card-body">
                                            <table class="table table-bordered">
                                                <tr>
                                                    <th>Base Name</th>
                                                    <td>{{ i.drug.base_name }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Generic Name</th>
                                                    <td>{{ i.drug.get_generic_names }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Active Ingredient</th>
                                                    <td>{{ i.drug.get_active_ingredients }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Product Type</th>
                                                    <td>{{ i.drug.product_type }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Routes</th>
                                                    <td>{{ i.drug.get_routes }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Pharmaceutical Class</th>
                                                    <td>{{ i.drug.get_pharm_class }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Dosage Forms</th>
                                                    <td>{{ i.drug.get_dosage_forms }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Lab Requests</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">

                                {% for i in appointment.get_lab_tests %}
                                    <li class="list-group-item">

                                        <a href="#!" class="modalLabTestResult-{{ i.lab_test.id }}_open">
                                            {{ i.lab_test.name }}
                                        </a>
                                    </li>
                                    <div class="popup-modal card" id="modalLabTestResult-{{ i.lab_test.id }}">
                                        <div class="card-header">
                                            <h6 class="card-title">
                                                {{ i.lab_test.name }}
                                            </h6>
                                        </div>
                                        <div class="card-body">
                                            Placeholder for lab results
                                        </div>
                                    </div>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Notes</h5>
                    </div>
                    <div class="card-body">
                        {% for i in appointment.get_notes %}
                        <div class="row">
                            <div class="col-sm-2 col-md-1">
                                <img class="img-thumbnail queue-img" src="{{ i.added_by.user.base_profile.get_profile_photo }}">
                                <br>
                                <small>{{ i.created|naturalday }}</small>
                            </div>
                            <div class="col-sm-10 col-md-11">
                                <strong>{{ i.added_by }}</strong>
                                <hr>
                                {{ i.note }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block home_scripts %}
    {% block inner_scripts %}
        <script type="text/javascript"
                src="{% static '3rd-party/jquery-template/jquery.loadTemplate.min.js' %}"></script>
        {% include 'neo/doctor_profiles/patient/sections/js/basic_info.js.html' %}
        {% include 'neo/doctor_profiles/patient/sections/js/next_steps.js.html' %}

        <script type="text/javascript">
            $(".popup-modal").popup({
                autozindex: true,
                scrolllock: true
            });
        </script>
    {% endblock %}
{% endblock %}