{% extends 'neo/doctor_profiles/medical_institutions/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <link rel="stylesheet"
          href="{% static '3rd-party/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}">
    <link rel="stylesheet" href="{% static '3rd-party/timepicki/css/timepicki.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static '3rd-party/page-walkthrough/css/jquery.pagewalkthrough.css' %}"
          type="text/css">

{% endblock %}
{% block header_js %}
{% endblock %}

{% block subcontent %}
    <div id="walkthrough-content" style="display: none;">
        <div id="doctor_guide_start">
            <h1>Welcome to Linecare!</h1>
            <h5>Please follow these steps to connect to a medical institution.</h5>
        </div>
        <div id="coordinates_guide_content">
            Is this the accurate location of this medical institution?
            Please use the thumb up or thumb down button.
        </div>
        <div id="coordinates_guide_add">
            If the location was not accurate, you can submit new coordinates by clicking this button.
        </div>
        <div id="coordinates_guide_reviews">
            Review and vote on the coordinates suggested by other users here.
        </div>
        <div id="address_guide_content">
            Is this the accurate address of this medical institution?
            Please use the thumb up or thumb down button.
        </div>
        <div id="connection_guide_content">
            You can connect with the medical institution's receptionist here.
        </div>
        <div id="connection_guide_add">
            Or add an account for your own receptionist that will help you manage your schedules.</div>
        <div id="schedule_guide_content">
            Set your preferred schedule for this medical institution.
        </div>
        <div id="others_guide_content">
            You can set estimated duration and fees here.
        </div>
    </div>
    {% include 'neo/doctor_profiles/medical_institutions/sections/manage_connections/main.html' %}


{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static '3rd-party/moment.js' %}"></script>
    <script type="text/javascript"
            src="{% static '3rd-party/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>
    <script type="text/javascript" src="{% static '3rd-party/timepicki/js/timepicki.js' %}"></script>
    <script type="text/javascript" src="{% static '3rd-party/page-walkthrough/jquery.pagewalkthrough.js' %}"></script>
    {% include 'neo/doctor_profiles/medical_institutions/sections/manage_connections/main.js.html' %}
    <script type="text/javascript">
        $('#myStartTime').timepicki({
            step_size_minutes: 5,
            overflow_minutes: true,
            reset: true
        });
        $('#myEndTime').timepicki({
            step_size_minutes: 5,
            overflow_minutes: true,
            reset: true
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('body').pagewalkthrough({
                name: "Doctor's Institution Settings Guide",
                onLoad: false,
                onBeforeShow: null,
                onAfterShow: null,
                onRestart: null,
                onClose: null,
                steps: [{
                    popup: {
                        content: '#doctor_guide_start',
                        type: 'modal'
                    }
                }, {
                    wrapper: '#coordinates-opt',
                    popup: {
                        content: '#coordinates_guide_content',
                        type: 'tooltip',
                    }
                }, {
                    wrapper: '#add-coordinate',
                    autoScroll: false,
                    popup: {
                        content: '#coordinates_guide_add',
                        type: 'tooltip',
                        position: 'top',
                        offsetArrowVertical: 100,
                    }
                }, {
                    wrapper: '#review-coordinate',
                    autoScroll: false,
                    popup: {
                        content: '#coordinates_guide_reviews',
                        type: 'tooltip',
                        offsetArrowVertical: 100,
                    }
                }, {
                    wrapper: '#address-opt',
                    autoScroll: false,
                    popup: {
                        content: '#address_guide_content',
                        type: 'tooltip',
                    }
                }, {
                    wrapper: '#connections-opt',
                    autoScroll: true,
                    popup: {
                        content: '#connection_guide_content',
                        type: 'tooltip',
                        position: 'left',
                        offsetHorizontal: 100,
                        offsetArrowVertical: 50,
                        offsetArrowHorizontal: 350,
                    }
                }, {
                    wrapper: '#create-receptionist-opt',
                    autoScroll: false,
                    popup: {
                        content: '#connection_guide_add',
                        type: 'tooltip',
                        position: 'top',
                    }
                }, {
                    wrapper: '#schedule-guide-opt',
                    autoScroll: false,
                    popup: {
                        content: '#schedule_guide_content',
                        type: 'tooltip',
                        position: 'top',
                    }
                }, {
                    wrapper: '#others-guide-opt',
                    autoScroll: true,
                    popup: {
                        content: '#others_guide_content',
                        type: 'tooltip',
                        position: 'left',
                        offsetHorizontal: 100,
                        offsetVertical: 250,
                        offsetArrowVertical: 50,
                        offsetArrowHorizontal: 350,
                    }
                },
                ]
            });

            $('body').pagewalkthrough('show');
        });
    </script>
{% endblock %}
{% block home_scripts %}

{% endblock %}