{% extends 'neo/doctor_profiles/medical_institutions/base.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% block header_css %} 
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
{% endblock %} 
{% block header_js %} 
{% endblock %} 
{% block subcontent %}
<div class="two-column__right--settings">
    <div class="header">
        <h5 class="h5">My Medical Institutions</h5>
    </div>

    {% if medical_institutions %}
    <div class="hospital-list__container">
        {% for mi in medical_institutions %}
        
            <div class="hospital-list__item">
                <h6 class="h6">
                    <a href="{% url 'doctor_profile_medical_institution_home' mi.medical_institution.slug %}">
                        {{ mi.medical_institution }}
                    </a>
                </h6>
                <p>{{ mi.medical_institution.address.address }}</p>
            </div>

        
        {% endfor %}
    </div>
</div>
{% endif %}
<div class="two-column__right--settings">
    <div class="header">
        <h5 class="h5">Connect to Medical Institutions</h5>
    </div>

    <div class="hospital-list__container">
        <div class="hospital-list__item-wrapper">
            <div id="root"><div class="donut-spinner"></div></div>
        </div>
    </div>
</div>

{% endblock %} 
{% block scripts %}

<script src="{% static 'react/doctor_profile/medical_institutions/search/js/1.chunk.js' %}"></script>
<script src="{% static 'react/doctor_profile/medical_institutions/search/js/main.chunk.js' %}"></script>
<script src="{% static 'react/doctor_profile/medical_institutions/search/js/runtime-main.js' %}"></script>
{% endblock %} 
{% block home_scripts %} 
{% endblock %}