{% extends 'neo/doctor_profiles/medical_institutions/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header_css %}
{% endblock %}
{% block header_js %}
{% endblock %}

{% block subcontent %}

<div class="settings__label">
    <h5 class="h5">My Hospitals and Clinics</h5>
</div>

<div class="hospital-list__container">

    <div class="hospital-list__item-wrapper">

        // react app goes here

    </div>

</div>


<div class="hospital-list__container">

    <div class="hospital-list__item-wrapper">
        <div class="hospital-list__item">
            <h6 class="h6">Name</h6>
            <p>asdgasdg</p>
        </div>
        <div class="hospital-list__buttons">
            <a class="rounded-circle">
                asdgasdg
            </a>
        </div>

    </div>

</div>

{% endblock %}

{% block scripts %}
{% endblock %}
{% block home_scripts %}
{% endblock %}
