<script type="text/html" id="duration-meta-template">
    {% for at in appointment_types %}
        <div class="row mb-1">
            <div class="col-sm-6">
                <label for="durations_{{ at.0 }}_duration">{{ at.1 }} Duration</label>
            </div>
            <div class="col-sm-6">
                <input class="form-control" type="number" id="durations_{{ at.0 }}_duration" name="durations_{{ at.0 }}_duration" data-value="{{ at.0 }}_duration">
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-sm-6">
                <label for="durations_{{ at.0 }}_gap">{{ at.1 }} Gap</label>
            </div>
            <div class="col-sm-6">
                <input class="form-control" type="number" id="durations_{{ at.0 }}_gap" name="durations_{{ at.0 }}_gap" data-value="{{ at.0 }}_gap">
            </div>
        </div>
        <hr>
    {% endfor %}
</script>