{% load static %}


<script type="text/javascript">

    model.all_receptionists = {
        dataSrc: "{% url 'api_private_medical_institution_receptionist_not_connected_list' %}?id={{ rel.medical_institution.id }}&doctor_id={{ rel.doctor.id }}&fmt=full",
        fetch: function(){genericFetch('all_receptionists')},
        onReady: true,
        onSuccessResult: [],
        onSuccess: [],
        container: $("#all_receptionists_container"),
        template: $("#all_receptionists_template"),
        actions: {
            connect: {
                fn: connectReceptionist,
                apiConsumer: false,
                parameters: {
                    parameters: {
                        triggerElement: ".connect-receptionist",
                        fnParams: ["data-doctor-id", "data-institution-id", "data-receptionist-id"]
                    }
                }
            },
        }
    };
    model.my_receptionists = {
        dataSrc: "{% url 'api_private_medical_institution_receptionist_connected_list' %}?id={{ rel.medical_institution.id }}&doctor_id={{ rel.doctor.id }}",
        fetch: fetchMyReceptionists,
        onReady: true,
        onSuccessResult: [],
        onSuccess: [],
        container: $("#my_receptionists_container"),
        template: $("#my_receptionists_template"),
        actions: {
            connect: {
                fn: connectReceptionist,
                apiConsumer: false,
                parameters: {
                    parameters: {
                        triggerElement: ".connect-receptionist",
                        fnParams: ["data-id", "data-institution-id", "data-receptionist-id"]
                    }
                }
            },
        }
    };

    /**
     * events
     */

    $("#formCreateReceptionist").on('submit', function(e){
        e.preventDefault();
        createReceptionist();
    });

    $("#btnCreateReceptionistSave").on('click', function(e){
        e.preventDefault();
        createReceptionist();
    });


    /**
     * methods
     */

    function fetchMyReceptionists(){
        var url = "{% url 'api_private_medical_institution_receptionist_connected_list' %}?id={{ rel.medical_institution.id }}&doctor_id={{ rel.doctor.id }}&fmt=full";
        $.get(url)
            .done(function(result){
                $("#my_receptionists_container").loadTemplate($("#my_receptionists_template"), result);

                $(".connect-receptionist").on('click', function(e){
                    e.preventDefault();
                    var doctor_id = $(this).attr("data-doctor-id");
                    var receptionist_id = $(this).attr("data-receptionist-id");
                    var institution_id = $(this).attr("data-institution-id");

                    connectReceptionist(doctor_id, receptionist_id, institution_id);
                });
            })
            .fail(function(jqXHR){
                console.log(jqXHR);
            });
    }

    function connectReceptionist(doctor_id, receptionist_id, institution_id){
        var url = "{% url 'api_private_receptionist_connection_create' %}?doctor_id=" + doctor_id + "&receptionist_id=" + receptionist_id + "&medical_institution_id=" + institution_id;
        var formData = {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        };

        $.post(url, formData)
            .done(function(result){
                $.notify({
                    message: "Receptionist connected!"
                }, {
                    type: 'success'
                });
                updateState(model.all_receptionists);
                updateState(model.my_receptionists);
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                $.notify({
                    message: jqXHR.responseJSON
                }, {
                    type: 'danger'
                });
            });
    }

    function createReceptionist(){
        var url = "{% url 'api_private_receptionist_profile_create_by_doctor' %}?doctor_id={{ rel.doctor.id }}&medical_institution_id={{ rel.medical_institution.id }}";
        var formData = {
            first_name: $("#receptionist_first_name").val(),
            last_name: $("#receptionist_last_name").val(),
            email: $("#receptionist_email").val(),
            password: $("#receptionist_password").val(),
            csrfmiddlewaretoken: '{{ csrf_token }}'
        };

        $.post(url, formData)
            .done(function(result){
                $.notify({
                    message: "Receptionist added!"
                }, {
                    type: 'success'
                });
                updateState(model.all_receptionists);
                $("#modalCreateReceptionist").modal('hide');
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                $.notify({
                    message: jqXHR.responseJSON
                }, {
                    type: 'danger'
                });
            });
    }

</script>