<footer class="container mt-4">
    <div class="footer-socials">
        <p>&copy; linecare Co., Ltd.
            <div>
                <a href="https://www.facebook.com/Linecare-458540927887941/"><i class="fab fa-facebook-f fa-fw"></i></a>
                <a href="javascript:void(0)"><i class="fab fa-twitter fa-fw"></i></a>
            </div>
    </div>
    <div class="others">
        <div>
            <a href="{% url 'terms' %}">Terms and Services</a> | <a href="{% url 'policy' %}">Privacy
                Policy</a></p>
        </div>
        <div id="google_translate_element" class="float-right"></div>
    </div>
</footer>