{% load static %}
<div class="language-nav__container">
    <div class="container">
        <div class="language-nav__items">


        </div>
    </div>
</div>
<div class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container">
        {% if request.user.doctor_profile %}
            <a href="{% url 'doctor_profile_home' %}" class="navbar-brand"><img src="{% static 'neo/images/LineCare-Logo-022.png' %}" alt="LineCare"></a>
        {% elif request.user.receptionist_profile %}
            <a href="{% url 'receptionist_profile_home' %}" class="navbar-brand"><img src="{% static 'neo/images/LineCare-Logo-022.png' %}" alt="LineCare"></a>
        {% else %}
            <a href="/" class="navbar-brand"><img src="{% static 'neo/images/LineCare-Logo-022.png' %}" alt="LineCare"></a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            {% if not request.user.is_authenticated %}
                <li class="nav-item {% if location == 'register' %} active {% endif %}">
                    <a class="nav-link " href="{% url 'accounts_register' %}">Register</a>
                </li>
                <li class="nav-item {% if location == 'login' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'accounts_login' %}">Log in</a>
                </li>

            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'base_profile_home_view' %}">Base Profile</a>
                </li>

                {% if request.user.doctor_profile %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'doctor_profile_home' %}">My Doctor Profile</a>
                    </li>
                {% endif %}
                {% if request.user.receptionist_profile %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'receptionist_profile_home' %}">My Receptionist Profile</a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts_logout' %}">Log out</a>
                </li>
            {% endif %}
        <div title="Change Language" id="google_translate_element" class="d-flex align-items-center justify-content-center" style="height:44.8px;width:56px;"></div>
        </ul>
    </div>
</div>

