<!-- search patient -->
<div class="connections__content mt-2">
    <div class="header">
        <h4 class="h6">
            Search patients
        </h4>
    </div>
    <div class="body py-3">
        <form id="frmSearchPatient" method="get">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="chkRestrictToOldPatients" checked>
                <label for="chkRestrictToOldPatients">Limit search to past patients</label>
            </div>
            <input class="form-control" type="text" placeholder="Search&hellip;" id="txtSearchTerm">
        </form>
        <div id="container_patients_serp" class="py-3">

        </div>
    </div>
    <div class="footer">
        <p>Patient doesn't have an account yet? <a class="btn btn-primary" href="#!" id="btnCreateNewPatient">Create one</a> for them!</p>
    </div>
</div>

