{% load static %}
{% load crispy_forms_tags %}
<div class="modal fade" id="modalCreateNewPatient" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post" id="formCreateNewPatient">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCreateNewPatientTitle">Create Patient</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div id="div_id_first_name" class="form-group">
                                <label for="id_first_name" class="col-form-label ">
                                    First name
                                </label>
                                <input type="text" name="first_name" value="" maxlength="32"
                                       class="textinput textInput form-control" id="id_first_name" required>

                            </div>
                        </div>
                        <div class="col">
                            <div id="div_id_last_name" class="form-group">
                                <label for="id_last_name" class="col-form-label ">
                                    Last name
                                </label>
                                <input type="text" name="last_name" value="" maxlength="32"
                                       class="textinput textInput form-control" id="id_last_name" required>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div id="div_id_date_of_birth" class="form-group">
                                <label for="id_date_of_birth" class="col-form-label ">
                                    Date of birth
                                </label>
                                <input type="text" name="date_of_birth" class="dateinput form-control"
                                       id="id_date_of_birth" required>
                            </div>
                        </div>
                        <div class="col">
                            <div id="div_id_gender" class="form-group">
                                <label for="id_gender" class="col-form-label ">
                                    Sex
                                </label>
                                <select name="gender" class="select form-control" id="id_gender" required>
                                    <option value="" selected="">---------</option>
                                    {% for gender in genders %}
                                        <option value="{{ gender.id }}">{{ gender.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ biometrics_form|crispy }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="submit" class="btn btn-primary" id="btnCreateNewPatientSubmit" data-schedule-id="">Create
                        and set appointment
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>